
{{include 'layouts/header'}}

 
     
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">New Exporter</h4>
                  <p class="card-description">
                    Add detail of new exporter
                  </p>

          <form class="forms-sample" method="post">
          	<div class="row">
          		<div class="col">
		            <div class="form-group">
		              <label for="company">Company:</label>
		              <input type="text" class="form-control" name="company" id="company" placeholder="Company Name">
		            </div>
	        	</div>
	        	<div class="col">
		            <div class="form-group">
		              <label for="name">Name:</label>
		              <input type="text" class="form-control" name="name" id="name" placeholder="Your Name">
		            </div>
	        	</div>
	        </div>

	        <div class="row">
          		<div class="col">
		            <div class="form-group">
		              <label for="address">Address 1:</label>
		              <input type="text" class="form-control" name="address" id="address" placeholder="Address Line 1">
		            </div>
	        	</div>
	        	<div class="col">
		            <div class="form-group">
		              <label for="address2">Address 2:</label>
		              <input type="text" class="form-control" name="address2" id="address2" placeholder="Address Line 2">
		            </div>
	        	</div>
	        </div>

	       <div class="row">
          		<div class="col">
		            <div class="form-group">
		              <label for="city">City:</label>
		              <input type="text" class="form-control" name="city" id="city" placeholder="City Name">
		            </div>
	        	</div>
	        	<div class="col">
		            <div class="form-group">
		              <label for="state">State:</label>
		              <input type="text" class="form-control" name="state" id="state" placeholder="State Name">
		            </div>
	        	</div>
	        	<div class="col">
		            <div class="form-group">
		              <label for="country">Country:</label>
		              <input type="text" class="form-control" name="country" id="country" placeholder="Country Name">
		            </div>
	        	</div>
	        	<div class="col">
		            <div class="form-group">
		              <label for="pincode">Pincode:</label>
		              <input type="text" class="form-control" name="pincode" id="pincode" placeholder="Pincode">
		            </div>
	        	</div>
	        </div>
	        <div class="row">
          		<div class="col">
		            <div class="form-group">
		              <label for="mobile">Mobile:</label>
		              <input type="text" class="form-control" name="mobile" id="mobile" placeholder="Mobile">
		            </div>
	        	</div>
	        	<div class="col">
		            <div class="form-group">
		              <label for="phone">Phone:</label>
		              <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone">
		            </div>
	        	</div>
	        	<div class="col-md-6">
		            <div class="form-group">
		              <label for="email-id">Email-ID:</label>
		              <input type="text" class="form-control" name="email" id="email-id" placeholder="Email-ID">
		            </div>
	        	</div>
	        </div>
	        



	            <button type="submit" class="btn btn-primary me-2">Submit</button>
	            <button type="reset" class="btn btn-light">Cancel</button>
        	
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

        <!-- content-wrapper ends -->
 



 {{include 'layouts/footer'}}