
<style>
@media(min-width:768px ){
      .upper-footer{
         
         background: #13304e;
      }
      .icon-big{
        font-size: 3rem;
      }
   }

@media(max-width:768px ){
      .upper-footer{
         background: #13304e;
      }

      .icon-big{
        font-size: 2rem;
      }
   }
</style>

<section class="mt-10 pt-4 pb-4 upper-footer text-white"> 
  <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-1 table-div">
           <div class="table-cell">
             <i class="icon-big icon-map-o"></i>
          </div>
          <div class="table-cell small">
          <b class="font-bold">Our Headquarters</b><br> H156 Noida UP Pin-201303 (India)  
          </div>
        </div>
        <div class="col-md-3 table-div">
           <div class="table-cell">
          <i class="icon-big icon-phone" ></i> 
          </div>
          <div class="table-cell small">
          <b class="font-bold">Call Center</b><br> 0120 4962217 
          </div>
        </div>
         <div class="col-md-4 table-div">
           <div class="table-cell">
          <i class="icon-big icon-envelope-o" ></i> 
          </div>
          <div class="table-cell small">
          <b class="font-bold">Contact Email</b><br>info@cosmos.com
          </div>
        </div>
      </div>
  </div>
</section>




<footer class="site-footer- pt-4 pb-4" style="">

   <div class="container">
        

      <div class="row pt-3">
         <div class="col-md-3">
           
            <img src="/images/logo.png" class="img">
            <br>
            contact@cosmos.com<br>
            H156 Noida UP Pin-201303 (India) 
         
      </div>
      <div class="col-md-8 offset-md-1">
            <div class="row">

               <div class="col-md-4 col-4">
                  <h5 class="footer-heading mb-2">Useful Links</h5>
                  <ul class="list-unstyled">
                    
                     <li>
                        <a href="/privacy-policy"> <span class=" small">Privacy
                              Policy</span>
                        </a>
                     </li>
                     <li>
                        <a href="/terms-conditions"> <span class=" small">Terms &amp;
                              Conditions</span>
                        </a>
                     </li>
                     <li>
                        <a href="/contact/"> <span class=" small">Contact Us</span>
                        </a>
                     </li>

                  </ul>

                  

               </div>
               <div class="col-md-4 col-4">
                  <h5 class="footer-heading mb-2"></h5>
                  <ul class="list-unstyled">
                     
                     <li>
                        <a href="/returns-refunds"> <span class=" small">Return &amp;
                              Refund Policy</span>
                        </a>
                     </li>
                     <li>
                        <a href="/payment-shipping"> <span class=" small">Payment &amp; Shipping</span>
                        </a>
                     </li>
                    
                     <li>
                        <a href="/shipping"> <span class=" small">Shipping</span>
                        </a>
                     </li>
                    
                     

                  </ul>
               </div>
               <div class="col-md-4 col-4">
                  <h4 class="footer-heading mb-2"></h4>
                  <ul class="list-unstyled">
                     
                     
                     <li>
                        <a href="/shipping"> <span class=" small"></span>
                        </a>
                     </li>
                     

                  </ul>
                 
               </div>
            </div>
         </div>

      </div>
   </div>



<style type="text/css">
  @media(min-width: 768px){
    .mattress-locations{
       text-align: right;
          background: #0e2049;
    }

    .mattress-locations ul{
      list-style: none;
      display: inline-block;
      margin-bottom: 0;
    }

    .mattress-locations ul li{
      list-style: none;
      font-size: 13px;
        display: inline-block;
        border-right: 1px solid #8d8e92;
        padding: 0 8px;
        line-height: 15px!important;
    }

    .mattress-locations ul li a{
      color:#94b7da;
    }
  .mattress-locations ul li:last-child {
        border-right: none;
    }
  }
  @media(max-width: 768px){
    .mattress-locations{
       text-align: center;
          background: #0e2049;
    }

    .mattress-locations ul{
      list-style: none;
      display: inline-block;
      margin-bottom: 0;
    }

    .mattress-locations ul li{
      list-style: none;
      font-size: 13px;
        display: inline-block;
        border-right: 1px solid #8d8e92;
        padding: 0 8px;
        line-height: 15px!important;
    }

    .mattress-locations ul li a{
      color:#94b7da;
    }

    .mattress-locations ul li:last-child {
        border-right: none;
    }
  

  }
</style>
   
</footer>  


<div class="footer-end">
      <div class="container">
         <div class="row text-white xs-text-center">
            <div class="col-md-4 col-12 small">
               <img src="/images/footer/ico-1.png" style="height: 17px;"> 
                <small> HELP CENTER</small> 

                <img src="/images/footer/ico-2.png" class="pl-3" style="height: 17px;">  <small>LIVE CHAT</small> 
                 <img src="/images/footer/ico-3.png" class="pl-3" style="height: 17px;"> <small> NO COST EMI</small> 
            </div>
            <div class="col-md-3  text-center small order-xs-2">
               © 2020 cosmos.com
            </div>
             <div class="col-md-5 col-12 text-right order-xs-1">
               <img src="/images/footer/ico-4.png" style="height: 17px;"> 
               <img src="/images/footer/ico-5.png" class="pl-3" style="height: 20px;"> 
          
               <img src="/images/footer/ico-7.png" class="pl-3" style="height: 17px;">

            </div>

         </div>
      </div>
   </div>
</div>




<!-- homeVideo Modal -->
<div id="ImgPreViewModal" class="modal fade-scale" role="dialog">
   <div class="modal-dialog" style="max-width:70%;" >

      <!-- Modal content-->
      <div class="modal-content" >
         
            <button type="button" class="close" data-dismiss="modal" >&times;</button>


         <div class="modal-body">
            <img src="" id="PreviewImg" class="img">
         </div>
      </div>

   </div>
</div>




 <div class="cart-toast-message  no-print">You have added item to cart.</div>

<style type="text/css">
   @media(min-width: 768px){
      .fixed-footer-panel{
         display: none;
      }
   }
   @media(max-width: 768px){
      .fixed-footer-panel {
          bottom: 0;
          right: 0;
          position: fixed;
          z-index: 99999;
          background: #135b4c;
          width: 100%;
          color: #fff;
          display: block;
          box-shadow: 0px 3px 6px 5px #fdfdff;
      }

      .fixed-footer-panel-left {
          width: 49%;
          border-right: 2px solid #fff;
          text-align: center;
          display: inline-block;
          padding: 0.5em;
          color:#fff;
      }

      .fixed-footer-panel-right {
          width: 49%;
          text-align: center;
          display: inline-block;
          color:#fff;
      }

      .d-xs-none{
        display: none;
      }
   }

</style>

<script type="text/javascript">

        function setImagePreview(t){
          var src = $(t).attr('src');
          $('#PreviewImg').attr('src',src);
          $('#ImgPreViewModal').modal('show');
        }
            var ContactForm = 0, CustomSize = 0, signup = 0 , forgotPass = 0;
           var forgotPass = function(response) {
                 if(response.length === 0){
                     app.showToast('Check recaptcha');
                     forgotPass = 0;
                     $('#forgotPassSubmit').attr('type','button');
                     $('#forgotPass').removeAttr('action');
                 }else{
                   $('#forgotPassSubmit').attr('type','submit');
                   $('#forgotPass').attr('action', base_url+'reset');
                    forgotPass = 1;
                 }
            };


             var verifySignup = function(response) {
                 if(response.length === 0){
                     app.showToast('Check recaptcha');
                     signup = 0;
                     $('#SignupFormSubmit').attr('type','button');
                     $('#SignupForm').removeAttr('action');
                 }else{
                   $('#SignupFormSubmit').attr('type','submit');
                   $('#SignupForm').attr('action', base_url+'signup');
                    signup = 1;
                 }
            };


            var verifyCustomSize = function(response) {
                 if(response.length === 0){
                     app.showToast('Check recaptcha');
                     CustomSize = 0;
                     $('#CustomSizeFormSubmit').attr('type','button');
                     $('#CustomSizeForm').removeAttr('action');
                 }else{
                   $('#CustomSizeFormSubmit').attr('type','submit');
                   $('#CustomSizeForm').attr('action', base_url+'send-custom-size');
                    CustomSize = 1;
                 }
            };


            var verifyContactForm = function(response) {
                 if(response.length === 0){
                     app.showToast('Check recaptcha');
                     ContactForm = 0;
                     $('#ContactFormSubmit').attr('type','button');
                     $('#ContactForm').removeAttr('action');
                 }else{
                   $('#ContactFormSubmit').attr('type','submit');
                   $('#ContactForm').attr('action', base_url+'contact');
                    ContactForm = 1;
                 }
            };


      
  $('#SignupFormSubmit').attr('type','submit');
                   $('#SignupForm').attr('action', 'signup');


      function checkFormSubmit(t){
         return false;
      }

      function showWhyHealty(){
         $('.why-healthy span').eq(0).click();
      }


      </script>


      <script type="text/javascript">
      var cnt = 1;
      function _ele(src,more = false){
          
            cnt++;
      
            var e = document.createElement("script");
                  e.type="text/javascript";
                  e.src=src;

                  if(more){
                     e.async=true;
                     e.defer=true;
                  }
            document.body.appendChild(e); 
             
         
      }




   var onload = ()=>{
      setTimeout(()=>{
         CreateJsElement();
      },1000);

      
   }


   function CreateJsElement(){
     
        _ele("/js/jquery-ui.js");
        _ele("/js/popper.min.js");
        _ele("/js/bootstrap.min.js",0);
        _ele("/js/owl.carousel.min.js");
        _ele("/js/jquery.magnific-popup.min.js");
        _ele("/js/aos.js");
        _ele("/js/xzoom.min.1.js",1);
        _ele("/js/validator.js",1);
        //_ele("https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit",1);
         _ele("/js/main.min.js",1);
      
        
   }


   document.addEventListener("DOMContentLoaded", function() {
  let lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));
  let active = false;

  const lazyLoad = function() {
    if (active === false) {
      active = true;

      setTimeout(function() {
        lazyImages.forEach(function(lazyImage) {
          if ((lazyImage.getBoundingClientRect().top <= window.innerHeight && lazyImage.getBoundingClientRect().bottom >= 0) && getComputedStyle(lazyImage).display !== "none") {
            lazyImage.src = lazyImage.dataset.src;
            lazyImage.srcset = lazyImage.dataset.srcset;
            lazyImage.classList.remove("lazy");

            lazyImages = lazyImages.filter(function(image) {
              return image !== lazyImage;
            });

            if (lazyImages.length === 0) {
              document.removeEventListener("scroll", lazyLoad);
              window.removeEventListener("resize", lazyLoad);
              window.removeEventListener("orientationchange", lazyLoad);
            }
          }
        });

        active = false;
      }, 100);
    }
  };

  document.addEventListener("scroll", lazyLoad);
  window.addEventListener("resize", lazyLoad);
  window.addEventListener("orientationchange", lazyLoad);
});

   document.addEventListener("DOMContentLoaded", function() {
  var lazyBackgrounds = [].slice.call(document.querySelectorAll(".lazy-background"));

  if ("IntersectionObserver" in window) {
    let lazyBackgroundObserver = new IntersectionObserver(function(entries, observer) {
      entries.forEach(function(entry) {
        if (entry.isIntersecting) {
          entry.target.classList.add("active");
          lazyBackgroundObserver.unobserve(entry.target);
        }
      });
    });

    lazyBackgrounds.forEach(function(lazyBackground) {
      lazyBackgroundObserver.observe(lazyBackground);
    });
  }
});

</script>
   </body>
</html>