.cart-toast-message{
    position:fixed;
    top:50%;left:50%;
    width:25%;
    transform:translate(-50%,-50%);
    color:#fff;
    background:#9e9e9e;
    padding:15px;
    z-index:9999;
    box-shadow:0 1px 10px 0 #000000d9;display:none;opacity:1;letter-spacing:1px;font-size:16px}

    .cart-toast-message.error{
        background:#f44336;
    }  
    
    .cart-toast-message.success{
        background:#4caf50;
    }

    .visible-none{
        visibility: hidden;
    }


.btn-xs{
    font-size: 12px;
    padding: 2px 7px;
}

     /**
  order track

  */

  ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 4.1em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid #32cd7e;
}
ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    top:45px;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: #32cd7e;
    height: 1.5em;
    width: 1.5em;
    line-height: 1.5em;
    border: none;
    border-radius: 2.2em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: " ";
    color: silver;
    background-color: white;
    border-radius: 50%;
    height:1.5em;
    width: 1.5em;
    border:2px solid silver;
    top:45px;
    line-height: 1.5em;
}
