
    <div class="sidebar-footer hidden-small">
      <a data-toggle="tooltip" data-placement="top" title="Dashboard" href="{{app.url}}admin/dashboard">
          <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="FullScreen" onclick="menu_toggle.click()">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Trash" href="{{app.url}}admin/trash">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Logout" href="logout" >
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>
 