{{include 'global/header'}}


<style>
  .contact-heading{
    color: #13295b;
    font-size: 3em;
    line-height: 1;
    font-weight: 500;
  }
  .contact-heading-desc{
    color: #13295b;
    font-style: italic;
    font-size: 19px;
    font-weight: 500;
  }
  .contact-info-box{
    color: #fff;
    background: #438a7d;
    padding: 10px 10px;
    border-bottom: 2px solid lightgreen;
    font-size: 18px;
  }
</style>

   

    <div class="site-section ">
      <div class="container ">
        <div class="row">
          <div class="col-md-12">
            <h2 class="h3 mb-3 text-center contact-heading">
              <br>
            How to contact our team of experts</h2>
              
            <p class="text-center contact-heading-desc">Our friendly  experts are ready to answer any  <br>questions you may have so that you can.</p>
          </div>
       </div>
       <div class="row pt-5">
        <div class="col-md-4 offset-md-2 text-center">
          <img src="/images/contact/call.jpg" style="height:100px">
          <h3 class="font-bold"> Call Us</h3>
          <p class="font-bold site-text-dark-blue">Simply dial 
          	<a href="tel:120 4962217"> +91-7827982193,+91-7827982186 </a></p>
        </div>

         <div class="col-md-4 text-center">
          <img src="/images/contact/message.jpg" style="height:100px">
          <h3 class="font-bold"> Text Us</h3>
          <p class="font-bold site-text-dark-blue">Simply message to our team of experts 
type HELP and send it to <a href="tel:+918851532800">0120 4962217</a></p>
        </div>
        
      </div>


      <div class="row pt-5">
        <div class="col-md-4 offset-md-2 text-center">
          <img src="/images/contact/mail.jpg" style="height:100px">
          <h3 class="font-bold"> Write a Mail</h3>
          <p class="font-bold site-text-dark-blue">Simply write a mail and send it to <a href="mailto: info@cosmos.com"> info@cosmos.com</a></p>
        </div>

         <div class="col-md-4 text-center">
          <img src="/images/contact/chat.jpg" style="height:100px">
          <h3 class="font-bold"> Chat Now</h3>
          <p class="font-bold site-text-dark-blue">Chat with next available expert!<br> <a target="_bank" href=""><u> CHAT NOW</u></a>
        </div>
       
      </div>



     
         
        
        </div>
      </div>
    </div>

  
<div id="contactFormModal" class="modal fade-scale" role="dialog">
  <div class="row">
      <div class="col-md-8 offset-md-2">
         <div class="modal-dialog login-pupop" >

    
         <div class="modal-content">
      
            

               <button type="button" class="close" data-dismiss="modal">&times;</button>


          
            <div class="modal-body">
      <div class="container">
        <div class="row">
         <div class="col-md-12">

            <form  id="ContactForm" method="post" >
              
              <div class="p-3 p-lg-5 border">
                <div class="form-group row">
                  <div class="col-md-6">
                    <label for="c_fname" class="text-black">Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="c_fname" name="contact[name]" required="">
                  </div>
                  <div class="col-md-6">
                    <label for="c_lname" class="text-black">Email <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" id="c_lname" name="contact[email]" required="">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_email" class="text-black">Phone <span class="text-danger">*</span></label>
                    <input type="number" class="form-control" id="c_email" name="contact[phone]" placeholder="" required="">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6">
                    <label for="c_subject" class="text-black">Date </label>
                    <input type="date" class="form-control" id="c_subject" name="contact[date]">
                  </div>
                  <div class="col-md-6">
                    <label for="c_time" class="text-black">Time </label>
                    <input type="time" class="form-control" id="c_time" name="contact[time]">
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_message" class="text-black">Message </label>
                    <textarea name="contact[message]" id="c_message" cols="30" rows="2" class="form-control"></textarea>
                  </div>
                </div>
               
                <div id="contactFormRecaptcha"></div>
                <br>
                <div class="form-group row">
                  <div class="col-lg-12">
                    <input type="button" id="ContactFormSubmit" onclick="checkFormSubmit(this)" class="btn btn-primary btn-lg btn-block" value="Send Message">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>


{{include 'global/footer'}}


