{{include 'global/header'}}



    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="icon-check_circle display-3 text-success"></span>
            <h2 class="display-3 text-black">Thank you!</h2>
            <p class="lead mb-5"> Our experts will get in touch with you soon!
You can also reach us at <a > <span class="icon icon-phone"></span> {{app.phone}}
</a> </p>
            <p><a href="{{app.url}}" class="btn btn-sm btn-primary">Back to Home</a></p>
          </div>
        </div>
      </div>
    </div>



{{include 'global/footer'}}
