{{include 'global/header'}}
 

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="icon-error_outline display-3 text-danger"></span>
            <h2 class="display-4 text-black">Sorry Payment was failed!</h2>
            <p class="lead mb-5">You order failed. Please try to pay again. </p>
            <p><a href="{{app.url}}" class="btn btn-sm btn-primary">Back to Home</a>
            <a href="{{app.url}}dashboard" class="btn btn-sm btn-primary">Go to Dashboard</a></p>
          </div>
        </div>
      </div>
    </div>

  <script type="text/javascript">
   setTimeout(()=>{
      //resetCart();
   },100);


 </script>


 <script type="text/javascript">
   setTimeout(()=>{
      var url = "{{app.url}}api/update-user-account";
      var data = {a:123};
      app.post(url,data,(res)=>{
        console.log(res);
      });
   },100);
 </script>

{{include 'global/footer'}}
