{{include 'global/header'}}


<style>
  .contact-heading{
    color: #13295b;
    font-size: 3em;
    line-height: 1;
    font-weight: 500;
  }
  .contact-heading-desc{
    color: #13295b;
    font-style: italic;
    font-size: 19px;
    font-weight: 500;
  }
  .contact-info-box{
    color: #fff;
    background: #438a7d;
    padding: 10px 10px;
    border-bottom: 2px solid lightgreen;
    font-size: 18px;
  }
  strong{
    font-weight: bold;
  }
</style>

   

    <div class="site-section text-center">
      <div class="container ">
        <div class="row">
          <div class="col-md-12">
            <h2 class="h3 mb-3 text-center contact-heading">
              <br>
           <p><strong>Payment & shipping</strong></p>
 </h2><br>
              
          </div>
       </div>
       

<h3><p><strong>Shipping</strong></p></h3><br>
<center><img src="{{app.url}}images/payment-shipping/1.jpg"></center><br>

<p><span style="font-weight: 400;">The cost and delivery time of your order are estimated online at the checkout.</span></p>

<center><img src="{{app.url}}images/payment-shipping/2.jpg"></center><br>

<p><span style="font-weight: 400;">The estimation is performed according to the weight of items and their destination.</span></p> <br>

<h2><p><strong>We deliver orders at most of the places in India.</strong></p></h2>
<h3><p><strong>Shipping methods</strong></p></h3>
<center><img src="{{app.url}}images/payment-shipping/3.jpg"></center><br>
<p><span style="font-weight: 400;">Our courier partners delivers your shipment to your doorstep.</span></p>
<center><img src="{{app.url}}images/payment-shipping/4.jpg"></center><br>
<p><span style="font-weight: 400;">You can also pick up your shipment from our warehouse facility centres based at Noida. </br>
This facility saves time and shipment cost for customers around Delhi-NCR.</span></p><br>
<h3><p><strong>PAYMENT</strong></p></h3>
<center><img src="{{app.url}}images/payment-shipping/5.jpg"></center><br>
<p><span style="font-weight: 400;">Cashless payment (invoices). This method is best for organizations. Place an order, print <br> the received invoice, pay it, and contact us to know the order delivery date.</span></p>
<center><img src="{{app.url}}images/payment-shipping/6.png"></center><br>
<p><span style="font-weight: 400;">Make a Payment through Neft / RTGS. When you place an order on Cosmos International.</span></p><br>
<center><img src="{{app.url}}images/payment-shipping/7.jpg"></center><br>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Pay with a Razor Pay when you place an order on Cosmos International. Payment gateway charges may applicable.</span></p><br>
<center><img src="{{app.url}}images/payment-shipping/8.jpg"></center><br>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">We also accept digital wallets like Paytm. More digital wallets to be added soon.</span></p>
<p>&nbsp;</p>
     


     
         
        
        </div>
      </div>
    </div>

  



{{include 'global/footer'}}


