{{include 'global/header'}}

<style type="text/css">
    .razorpay-payment-button{
        border:none;
        padding: 5px;
        position: relative;
        background: #216194;
        color: #fff;
        -webkit-transition: .2s all ease-in-out!important;
        -o-transition: .2s all ease-in-out!important;
        transition: .2s all ease-in-out!important;
        top: 0;
        letter-spacing: .05em;

    }

    .razorpay-payment-button:hover {
        -webkit-box-shadow: 0 5px 20px -7px rgba(0, 0, 0, .9)!important;
        box-shadow: 0 5px 20px -7px rgba(0, 0, 0, .9)!important;
        top: -2px;
        cursor: pointer;
    }
</style>
 

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
           

           
            
     {{#if (eq session.paymentMethod 'Razorpay')}}  
      <span class="icon-check_circle display-3 text-success"></span>   
            <h3>Thank you for your order! </h3>
            <p><br> please click the button below to pay with Razorpay</p>
            <form action="{{app.url}}response" onsubmit="showMessage()" name="razorpayform" id="razorpay" method="POST">
               
                <script
                    src="https://checkout.razorpay.com/v1/checkout.js"
                    data-key="{{app.razorpay_key}}"
                    data-amount="{{session.user.orderAmount}}"
                    data-currency="INR"
                    data-order_id="{{session.user.razorpayOrderId}}"
                    data-buttontext="Pay with Razorpay"
                    data-name="COSMOS"
                    data-description="COSMOS Payment"
                    data-image="{{app.url}}/images/logo.png"
                    data-prefill.name="{{session.user.firstname}} {{session.user.lastname}}"
                    data-prefill.email="{{session.user.email}}"
                    data-prefill.contact="{{session.user.phone}}"
                    data-theme.color="#2c6898"
                ></script>
                   <button id="btn-razorpay-cancel" class="btn" onclick="document.razorpayform.submit()">Cancel</button>  
                </form>
            
            <script>
                 var razorpay = document.querySelector('.razorpay-payment-button');
                         razorpay.click();
                 function showMessage(){
                     $('#msg-razorpay-success').removeClass('hide');
                 }
 
                
 
 
 
                 </script>
  {{else}}
   <span class="icon-error_outline display-3 text-danger"></span>
   <h3>Opps! your order! </h3>
    <small class="text-danger"> Sorry some went wrong... try to other paymnet method </small>
  {{/if}} 
            

                <p id="msg-razorpay-success" class="text-success hide">
                    Please wait while we are processing your payment.
                </p>
          </div>
        </div>
      </div>
    </div>

{{include 'global/footer'}}
