{{include 'global/header'}}


<style>
  .contact-heading{
    color: #13295b;
    font-size: 3em;
    line-height: 1;
    font-weight: 500;
  }
  .contact-heading-desc{
    color: #13295b;
    font-style: italic;
    font-size: 19px;
    font-weight: 500;
  }
  .contact-info-box{
    color: #fff;
    background: #438a7d;
    padding: 10px 10px;
    border-bottom: 2px solid lightgreen;
    font-size: 18px;
  }
  strong{
  	font-weight: bold;
  }
</style>

   

    <div class="site-section ">
      <div class="container ">
        <div class="row">
          <div class="col-md-12">
            <h2 class="h3 mb-3 text-center contact-heading">
              <br>
           <p><strong>Privacy Policy</strong></p>
 </h2>
              
          </div>
       </div>
       


      <strong>Privacy Policy</strong></br>
<p><span style="font-weight: 400;">Cosmos International (&ldquo;Cosmos International&rdquo;, &ldquo;we&rdquo;, &ldquo;us&rdquo;, &ldquo;our&rdquo;) is concerned with the privacy of its users (hereinafter referred to as &ldquo;You&rdquo;, &ldquo;Your&rdquo;, &ldquo;Yourself&rdquo;) that frequent its website&nbsp;</span><a href="http://www.bizongo.in/"><span style="font-weight: 400;">www.Cosmos International.com</span></a><span style="font-weight: 400;">&nbsp;(&ldquo;Website&rdquo;). We recognize the importance of privacy as well as the importance of maintaining the confidentiality of your information. This Privacy Policy applies to all products and services provided by us and is drafted to explain to you how we collect, use and disclose your information to relevant entities that are vital to the functioning of this Website.</span></p>
<strong>What information do we collect?</strong></br>
<p><span style="font-weight: 400;">We collect information from you when you register on our site, place an order, subscribe to our newsletter or fill out a form. When ordering or registering on our site, as appropriate, you may be asked to enter your: name, e-mail address or mailing address. You may, however, visit our site anonymously.</span></p>
<strong>What do we use your information for?</strong></br>
<p><span style="font-weight: 400;">Any of the information we collect from you may be used in one of the following ways:</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">To personalize your experience</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">(your information helps us to better respond to your individual needs)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">To improve our website</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">(we continually strive to improve our website offerings based on the information and feedback we receive from you)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">To improve customer service</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">(your information helps us to more effectively respond to your customer service requests and support needs)</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">To process transactions</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested.</span></li>
</ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">To administer a contest, promotion, survey or other site feature</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">To send periodic emails</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">The email address you provide for order processing, may be used to send you information and updates pertaining to your order, in addition to receiving occasional company news, updates, related product or service information, etc.</span></li>
</ul>
</ul>
<p><strong>Note</strong><span style="font-weight: 400;">: If at any time you would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email.</span></p>
<strong>How do we protect your information?</strong></br>
<p><span style="font-weight: 400;">We implement a variety of security measures to maintain the safety of your personal information when you place an order or enter, submit, or access your personal information. </br> We offer the use of a secure server. All supplied sensitive information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our Payment gateway providers database only to be accessible by those authorized with special access rights to such systems, and are required to keep the information confidential </span></p>
<strong>Do we use cookies?</strong></br>
<p><span style="font-weight: 400;">Yes (Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information). </br> We use cookies to help us remember and process the items in your shopping cart, understand and save your preferences for future visits and keep track of advertisements</span></p>

<strong>Do we disclose any information to outside parties?</strong></br>
<p><strong>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information</strong><span style="font-weight: 400;">. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</span></p>
<strong>Third party links</strong></br>
<p><span style="font-weight: 400;">Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</span></p>
<strong>Online Privacy Policy Only</strong></br>
<p><span style="font-weight: 400;">This online privacy policy applies only to information collected through our website and not to information collected offline.</span></p>
<strong>Your Consent</strong></br>
<p><span style="font-weight: 400;">By using our site, you consent to our privacy policy. IF YOU DO NOT AGREE WITH THE TERMS AND CONDITIONS OF THIS POLICY, PLEASE DO NOT PROCEED FURTHER TO USE THIS WEBSITE.</span></p>

     


     
         
        
        </div>
      </div>
    </div>

  



{{include 'global/footer'}}


