{{include 'global/header'}}


<style>
  .contact-heading{
    color: #13295b;
    font-size: 3em;
    line-height: 1;
    font-weight: 500;
  }
  .contact-heading-desc{
    color: #13295b;
    font-style: italic;
    font-size: 19px;
    font-weight: 500;
  }
  .contact-info-box{
    color: #fff;
    background: #438a7d;
    padding: 10px 10px;
    border-bottom: 2px solid lightgreen;
    font-size: 18px;
  }
  strong{
  	font-weight: bold;
  }
</style>

   

    <div class="site-section ">
      <div class="container ">
        <div class="row">
          <div class="col-md-12">
            <h2 class="h3 mb-3 text-center contact-heading">
              <br>
           <p><strong>Returns & Exchange</strong></p>
 </h2>
              
          </div>
       </div>

       
<p>&nbsp;</p>
<strong>Cancellation:</strong> </br>
<p><span style="font-weight: 400;">If you cancelled your order before shipment, we will initiate your refund immediately after you submit your cancelation request. &nbsp;No cancellation request will be accepted post-dispatch. Complete refund of cancelled item will be processed except both side transaction charges and 15% deduction of product value if any within next 4-5 working days</span></p>
<p>&nbsp;</p>
<strong>Cosmos International Return Policy:</strong> </br>
<span style="font-weight: 400;">There are a few important things to keep in mind when returning a product you purchased from the Cosmos Online Store:</span> </br>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">You have 2 calendar days to return an item from the date you received it.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Please ensure that the item you&rsquo;re returning is unopened and is in original packaging as you received it.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Refund will be made for the entire cost of returned item excluding shipping cost and 15% Deduction of product value, applied taxes if any&nbsp;within next 4-5 working days</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Upon receipt of your package with the item in it, we will initiate the refund process after verification of returned item. The refund will be made to the same payment option(s) originally used to pay for the order.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">For any manufacturing defect in the product supplied by Cosmos, replacement will be provided by cosmos. Return freight of defective material will be borne by us and new will be sent at our cost too.</span></li>
</ul>
<p>&nbsp;</p>
<strong>Do Not Accept Damaged / Defective Goods Delivery:</strong> <br>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">As a packaging solution company, we have high standards of quality check and pre-shipment verification process in place. If a product is damaged during delivery to you via a freight carrier, note the damage on the carrier&rsquo;s delivery receipt and do not accept the consignment.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">If material is urgently required then request an inspection report on the damaged shipment from the carrier to be forwarded to you within 10 business days. Forward the inspection report and original packing list to cosmos at&nbsp;</span><a href="mailto:help@cosmosint.com"><span style="font-weight: 400;">help@cosmosint.com</span></a><span style="font-weight: 400;">&nbsp; and we will file a claim on your behalf and immediately replace the damaged item(s).</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Please email us pictures and other details like no of damaged goods, type of damage etc. at&nbsp;</span><a href="mailto:help@cosmosint.com"><span style="font-weight: 400;">help@cosmosint.com</span></a><span style="font-weight: 400;">. Also request you to call our customer care no. 7827982193 to update.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">We will reprocess the order immediately after getting intimation.</span></li>
</ul>
<p>&nbsp;</p>
       


     
        
        </div>
      </div>
    </div>

  



{{include 'global/footer'}}


