{{include 'global/header'}}


<style>
  .contact-heading{
    color: #13295b;
    font-size: 3em;
    line-height: 1;
    font-weight: 500;
  }
  .contact-heading-desc{
    color: #13295b;
    font-style: italic;
    font-size: 19px;
    font-weight: 500;
  }
  .contact-info-box{
    color: #fff;
    background: #438a7d;
    padding: 10px 10px;
    border-bottom: 2px solid lightgreen;
    font-size: 18px;
  }
  strong{
  	font-weight: bold;
  }
</style>

   

    <div class="site-section ">
      <div class="container ">
        <div class="row">
          <div class="col-md-12">
            <h2 class="h3 mb-3 text-center contact-heading">
              <br>
           <p><strong>Shipping Policy</strong></p>
 </h2>
              
          </div>
       </div>

       <strong>Cosmos Shipping Policy</strong> </br>
<p><span style="font-weight: 400;">We all know that to ship something from one place to other, there is some cost associated with it which can be considered in two ways.</span></p>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">By including shipping cost in the product cost.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">By charging shipping cost on and above material cost.</span></li>
</ol>
<p><span style="font-weight: 400;">Cosmos follows the later policy to exclude shipping cost from the product cost to bring in transparency and eliminate the risk of including higher average shipping cost across the product portfolio.</span></p>
<p><span style="font-weight: 400;">We believe in delivering good quality product at the right time as it is shipped from our warehouses. To ensure timely delivery and proper handling of shipped orders, we have partnered with trustworthy and quality focused forwarders which are Blue Dart and Gati Express. For higher order quantities, we will facilitate our own logistic solution.</span></p>
<strong>Shipping Time</strong> <br>
<p><span style="font-weight: 400;">We will ship the order within 2-3 days of receiving the order and it will be delivered within 2-10 days after shipment </span> </br>
Depending up on the delivery location. All shipping details and tracking numbers will be updated via email.</span></p>

<strong>Shipping Cost Structure</strong> <br>
<p><span style="font-weight: 400;">Shipping Cost = Basic Shipping Cost (as per order qty) + Service Tax + Handling Fee </br> Shipping cost is subjected to change to capture change in fuel prices and other service cost</span></p>

       


     
        
        </div>
      </div>
    </div>

  



{{include 'global/footer'}}


