<nav class="user-dash-nav">
    <ul>
     
      <li><a class="btn user-menu btn-block active" value="dashboard-tab" onclick="setActiveUserMenu(this)"><i
            class="icon icon-dashboard"></i> Dashboard</a></li>
      <li>
        <a class="btn user-menu btn-block" value="orders-tab" onclick="setActiveUserMenu(this)"><i
            class="icon icon-shopping_cart"></i>My Orders</a>
          
          </li>
      <li><a class="btn user-menu btn-block" value="account-tab" onclick="setActiveUserMenu(this)"><i
            class="icon icon-user"></i>
          Account Details</a></li>
      <li><a class="btn user-menu btn-block" value="address-tab" onclick="setActiveUserMenu(this)"><i
            class="icon icon-address-book"></i> Addresses</a></li>

    
        <li>
          <a class="btn user-menu btn-block" value="refer-tab" href="/order-complaints"><i
            class="icon icon-users"></i> My Complaints 
          </a>
        </li>


        <li>
          <a class="btn user-menu btn-block" value="inv-tab" href="/order/invoices"><i
            class="icon icon-file"></i> Shipping & Invoices
          </a>
        </li>

        <li>
          <a class="btn user-menu btn-block" value="inv-tab" href="/account/ledger"><i
            class="icon icon-money"></i> Account  Ledger
          </a>
        </li>
     

    </ul>
  </nav>