<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard, Order Detail, Account  | {{app.name}}</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 


{{include 'global/header'}}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 p-0 user-dash-col-1">
     
      
	  {{include 'user/global/sidebar'}}
        
        {{set 'user' session.user}}
        {{set 'address' session.user.address}}

    </div>
    <div class="col-md-10 p-0">

      <div class="user-dash-section">
        <div class="dashboard-header text-right bg-white">
          <span style="float:left; font-size: 1.2em; border-bottom: 1px solid #17a2b8;" class="text-info d-none d-lg-block"> Welcome: 
           <b class="text-primary">{{user.firstname}}</b>!</span>
          <button class="btn btn-outline-primary" onclick="location.reload()"> <i class="icon icon-repeat"></i> Reload
          </button>
          &nbsp; <a class="btn btn-outline-danger" href="{{app.url}}logout"> <i class="icon icon-sign-out"></i> Logout
          </a>
        </div>
      


      <div class="site-section block-3 site-blocks-2 bg-light dashboard-tab active">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-7 site-section-heading  text-center pt-4">
              <h2>Dashboard</h2>

            </div>
          </div>

          <fieldset class="scheduler-border">
            <legend class="scheduler-border">Stats Dashboard</legend>

            <div class="row text-center">
              <div class="col-md-3 col-6">
              <div class="counter" style="cursor: pointer" onclick="setOrderTab()">
          <i class="icon icon-shopping_cart text-lg"></i>
          <h2 class="timer count-title count-number" data-to="{{order_delivered}}" data-speed="1500">{{order_delivered}}</h2>
           <p class="count-text" >Orders Delivered</p>
        </div>
              </div>
                  <div class="col-md-3 col-6">
                   <div class="counter" style="cursor: pointer" onclick="setOrderTab()">
          <i class="icon icon-map-marker text-lg"></i>
          <h2 class="timer count-title count-number" data-to="{{count orders}}" data-speed="1500">
             {{count orders}}</h2>
          <p class="count-text" >Current Orders</p>
        </div>
                  </div>

                  <div class="col-md-3 col-6 xs-mt-20">
                      <div class="counter">
          <i class="icon icon-users text-lg"></i>
          <h2 class="timer count-title count-number" data-to="0" data-speed="1500">0</h2>
          <p class="count-text ">Refer</p>
        </div></div>
                  <div class="col-md-3 col-6 xs-mt-20">
                  <div class="counter">
          <i class="icon icon-gift text-lg"></i>
          <h2 class="timer count-title count-number" data-to="0" data-speed="1500">0</h2>
          <p class="count-text ">My Rewards</p>
        </div>
                  </div>
             </div>
          </fieldset>
<br/>
          From your account dashboard you can view your recent orders, manage your shipping and billing addresses, and
          edit your password and account details.

        </div>
      </div>




      <div class="site-section block-3 site-blocks-2 bg-light orders-tab">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-7 site-section-heading text-center pt-4">
              <h2>My Orders</h2>

            </div>
          </div>


          <div class="row">
            <div class="col-sm-12 table-responsive">
              <table id="example" class="table-striped  dataTable" style="width: 100%;" role="grid"
                aria-describedby="example_info">
                <thead>
                  <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                      aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 100px;">
                      #Order</th>
                  
               <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                      aria-label="Age: activate to sort column ascending" style="width: 40px;">Amount</th>
                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                      aria-label="Start date: activate to sort column ascending" style="width: 85px;">Order(<small>Status</small>)
                    </th>
                    <th style="width: 71px;">Accepted Date</th>
                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                      aria-label="Salary: activate to sort column ascending" style="width: 71px;">Payment</th>
                
                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                      aria-label="Salary: activate to sort column ascending" style="width: 71px;">Date</th>

                      <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                      aria-label="Salary: activate to sort column ascending" style="width: 71px;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each orders}}
                  <tr role="row small" style="font-size: 13px">
                    <td class="sorting_1">#{{id}}</td>
                    
                   
                    <td><i class="currency-symbol icon icon-inr"></i><span class="currency-price-user-dash">{{total}} </span></td>
                  
                    <td>
                      {{#if (eq orderStatus 'Hold') }}
                        <span class="text-danger">{{orderStatus}} </span> 
                        {{else}}

                         <span class="text-success">{{orderStatus}} </span> 
                        {{/if}}
                    </td>  

                    <td>

                         <span >{{acceptedDate}} </span> 
                        
                    </td>
                    
                    <td>
                     
                        <span class="text-danger"> {{paymentStatus}}  </span> 
                      
                    </td>

                       <td>
                     
                        {{date}}
                      
                    </td>
                    <td style="padding: 5px 2px;"> 
                      
                      <a href="{{app.url}}order/download-order/{{id}}">
                        <button class="btn btn-outline-info btn-xs">
                        Download</button>
                      </a>

                      <a href="{{app.url}}order/track-order/{{id}}">
                        <button class="btn btn-outline-success btn-xs">
                        Order info</button>
                      </a>
                    

                    </td>
                  </tr>
                     {{/each}}
                </tbody>
               
              </table>
            </div>
          </div>



        </div>
      </div>





      <div class="site-section block-3 site-blocks-2 bg-light account-tab">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-7 site-section-heading text-center pt-4">
              <h2>Account details</h2>

            </div>
          </div>

          <div class="row">
            <div class="col-md-6">

              <fieldset class="scheduler-border">
                <legend class="scheduler-border">Personal Information</legend>
                <form>
                  <div class="row">
                    <div class="col-sm-6">
                      First Name:<input class="form-control" value="{{user.firstname}}" readonly>
                    </div>
                    <div class="col-sm-6">
                      Last Name:<input class="form-control" value="{{user.lastname}}" readonly>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-sm-6">
                      Email:<input class="form-control" value="{{user.email}}" readonly>
                    </div>
                    <div class="col-sm-6">
                      Mobile :<input class="form-control" value="{{user.phone}}" readonly>
                    </div>
                  </div>
    
                 
                  <div class="row">
                    <div class="col-sm-12">
                      Join  on:<span class="form-control"  > <small>{{user.createdAt}} </small></span>
                    </div>
                    <div class="col-sm-12">
                      Last update on:<span class="form-control"  > <small>{{user.updatedAt}} </small></span>
                    </div>
                  </div>
    
                  
    
                </form>
              </fieldset>
            </div>

            <div class="col-md-4 offset-md-1">
              <fieldset class="scheduler-border">
                <legend class="scheduler-border">Change your password</legend>
                <form method="POST" action="javascript:void(0)">
                  <div class="row">
                    <div class="col-sm-10">
                      Current Password:<input type="password" name="update[current_password]" class="form-control"
                        placeholder="******" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-10">
                      New Password :<input type="password" name="update[password]" class="form-control" placeholder="******"
                        required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-10">
                      Confirm Password :<input type="password" name="update[confirm_password]" class="form-control"
                        placeholder="******" required>
                    </div>
                  </div>
                  <br>
    
    
    
                  <button class="btn btn-info"> <i class="icon icon-save"></i> Update</button>
                </form>
              </fieldset>
            </div>

          </div>



         

        </div>
      </div>



      <div class="site-section block-3 site-blocks-2 bg-light address-tab">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-7 site-section-heading text-center pt-4">
              <h2>Addresses</h2>

            </div>
          </div>

         
    
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">Shipping Address</legend>
              
               
                <p> {{address.ship_first_name}} {{address.ship_last_name}}, 
                  <br>
                  {{address.ship_address}},
                 {{address.ship_address_more}}
                 <br> State: {{address.ship_state_country}} Pin-{{address.ship_zip}}
                  <br/>
                  Tel: {{address.ship_phone}}
                  <br/>
                  Email: {{address.ship_email}}
                </p>
                
               
              
              </fieldset>
              <fieldset class="scheduler-border">
                <legend class="scheduler-border">Billing Address</legend>
                  
                {{#if (eq address.bill_address '')}}
                     <p> {{address.ship_first_name}} {{address.ship_last_name}}, 
                      <br>
                      {{address.ship_address}},
                     {{address.ship_address_more}}
                     <br> State: {{address.ship_state_country}} Pin-{{address.ship_zip}}
                      <br/>
                      Tel: {{address.ship_phone}}
                      <br/>
                      Email: {{address.ship_email}}
                    </p>
                {{else}}
                    <p> {{address.bill_first_name}} {{address.bill_last_name}}, 
                      <br> {{address.bill_address}}, {{address.bill_address_more}} 
                      <br>State: {{address.bill_state_country}} Pin-{{address.bill_zip}}
                      <br/>
                      Tel: {{address.bill_phone}}
                      <br/>
                      Email: {{address.bill_email}}
                    </p>
                {{/if}}
          
          </fieldset>
          <br>
         
        </div>
      </div>


   
   

    </div>
  </div>
</div>
</div>


<script type="text/javascript">
  function setOrderTab(){
    $('[value="orders-tab"]').click();
  }
</script>


{{include 'global/footer'}}
