<!DOCTYPE html>
<html lang="en">
<head>
   <title> {{app.name}}</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   


{{ include 'global/header' }}


<style type="text/css">
  @media(max-width: 768px){
    .progtrckr li{
      display: block!important;
      width: 80% !important;
    }

    .xs-space{
      margin-top: 15px;

    }
  }
  
</style>

{{ set 'user' session.user }}
{{set 'address' order.orderAddress}}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 p-0 user-dash-col-1">
          <nav class="user-dash-nav">
      <ul>

            <li><a class="btn user-menu btn-block" value="dashboard-tab" href="{{app.url}}dashboard"><i
                              class="icon-arrow-left"></i> Go Back </a></li>
            <li>
                  <a class="btn user-menu btn-block active" value="inv-tab"><i
                              class="icon icon-shopping_cart"></i> Orders Invioces </a>

            </li>
      </ul>
</nav>
    </div>
    <div class="col-md-10 p-0">

      <div class="user-dash-section">
        <div class="dashboard-header text-right bg-white">
          <span style="float:left; font-size: 1.2em; border-bottom: 1px solid #17a2b8;"
            class="text-info d-none d-lg-block"> Username:
            <b class="text-primary">{{user.firstname}}</b>!</span>
          <button class="btn btn-outline-primary" onclick="location.reload()"> <i class="icon icon-repeat"></i> Reload
          </button>
          &nbsp; <a class="btn btn-outline-danger" href="{{app.url}}logout"> <i class="icon icon-sign-out"></i> Logout
          </a>
        </div>






        <div class="site-section block-3 site-blocks-2 bg-light orders-tab">
          <div class="container table-responsive">
            
               
                    <table id="datatable-buttons" class="table table-striped table-bordered">
                      <thead>
                        <tr class="small">
                          <th>S.No</th>
                          <th>Shipping ID</th>
                          <th>Order ID</th>
                          <th>Date</th>
                          <th>Action</th>
                          

                        </tr>
                      </thead>
                      <tbody >
                          {{#each shipping}}

                          <tr class="pro-tr-{{@index}}" >
                            <td>{{inc @index}}</td>
                            <td>#{{id}}</td>
                            <td>#{{orderId}}</td>
                           
              
                              <td>{{date}}</td>
                         
                      

                          <td>
                            
                            
                            <a href="invoice/{{id}}" class="btn btn-primary btn-xs"><i class="fa fa-file"></i> Invoice</a>
                              &nbsp;
                             <a href="shipping-detail/{{id}}" class="btn btn-info btn-xs"><i class="fa fa-truck"></i> Shipping </a>
                          
                          </td>
                        </tr>

                        {{/each}}
                       
                      </tbody>
                    </table>

           
        </div>




      </div>
    </div>
  </div>
</div>






<script>
  setTimeout(() => setUserCurrentTab(), 300);
</script>


{{ include 'global/footer' }}
