<!DOCTYPE html>
<html lang="en">
<head>
   <title> {{app.name}}</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   


{{ include 'global/header' }}


<style type="text/css">
  @media(max-width: 768px){
    .progtrckr li{
      display: block!important;
      width: 80% !important;
    }

    .xs-space{
      margin-top: 15px;

    }
  }
  
</style>

{{ set 'user' session.user }}
{{set 'address' order.orderAddress}}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 p-0 user-dash-col-1">
          <nav class="user-dash-nav">
      <ul>

            <li><a class="btn user-menu btn-block" value="dashboard-tab" href="{{app.url}}dashboard"><i
                              class="icon-arrow-left"></i> Go Back </a></li>
            <li>
                  <a class="btn user-menu btn-block active" value="inv-tab"><i
                              class="icon icon-shopping_cart"></i> Orders Invioces </a>

            </li>
      </ul>
</nav>
    </div>
    <div class="col-md-10 p-0">

      <div class="user-dash-section">
        <div class="dashboard-header text-right bg-white">
          <span style="float:left; font-size: 1.2em; border-bottom: 1px solid #17a2b8;"
            class="text-info d-none d-lg-block"> Username:
            <b class="text-primary">{{user.firstname}}</b>!</span>
          <button class="btn btn-outline-primary" onclick="location.reload()"> <i class="icon icon-repeat"></i> Reload
          </button>
          &nbsp; <a class="btn btn-outline-danger" href="{{app.url}}logout"> <i class="icon icon-sign-out"></i> Logout
          </a>
        </div>






        <div class="site-section block-3 site-blocks-2 bg-light orders-tab">

                  
                    <section class="content invoice">
                      <!-- title row -->

                        <div class="invoice-print" id="PrintSection">
                          <title>Cosmos Tax Invoice {{shipping.id}}</title>
                          <h3 style="text-align: center;">Tax Invoice</h3>
                        <table class="invoice-tbl" border="1">
                          <tr>
                            <td style="vertical-align: top;">
                              <h5 class="print-heading"> COSMOS INTERNATIONAL </h5>
                                H.O.-G-54, Sec-63, Noida-201309 <br>
                                B.O.- A-24, Phase-II, Noida-201305 <br>
                                GSTIN/UIN: 09AWLPT5290N1ZH <br>
                                Pan Number: AWLPT5290N <br>
                                Ph.number: 8860077602 <br>
                                State Name :Uttar Pradesh <br>
                                E-Mail : accounts@cosmosint.com  
                                <hr class="line">
                                Consignee <br>
                                  <h5 class="print-heading"> <strong>{{shipping.user.address.ship_first_name}} {{shipping.user.address.ship_last_name}}</strong> </h5>
                                    
                                          {{shipping.user.address.ship_address}}
                                          <br>{{shipping.user.address.ship_address_more}}
                                          <br>{{shipping.user.address.ship_state_country}} PIN - {{shipping.user.address.ship_zip}}
                                          <br>Phone: {{shipping.user.address.ship_phone}}
                                          <br>Email: {{shipping.user.address.ship_email}}
                                          <br>GSTIN: {{shipping.user.gstNumber}}
                                          <br>PAN: {{shipping.userpanNumber}}

                                  <hr class="line">
                                   <address>
                                    <h5 class="print-heading">Buyer (if other than consignee)</h5>
                                      {{#if (not shipping.user.address.bill_address) }}
                                       -
                                       {{else}}
                                          <strong>{{shipping.user.address.bill_first_name}} {{shipping.user.address.bill_last_name}}</strong>
                                          <br>{{shipping.user.address.bill_address}}
                                          <br>{{shipping.user.address.bill_address_more}}
                                          <br>{{shipping.user.address.bill_state_country}} PIN - {{shipping.user.address.bill_zip}}
                                          <br>Phone: {{shipping.user.address.bill_phone}}
                                          <br>Email: {{shipping.user.address.bill_email}}

                                          {{/if}}
                                      </address>

                            </td> 
                            <td style="vertical-align: top;">
                              <table style="width: 100%" class="inner-tbl">
                                <tr>
                                  <td class="border-right ">
                                  Invoice No. <br>
                                  <b>{{shipping.id}}</b>
                                  <hr class="line">
                                  </td>
                                   <td>
                                  Dated <br>
                                   <b>{{dateFormat shipping.date}}</b>
                                  <hr class="line">
                                  </td>
                                </tr>

                                 <tr>
                                  <td class="border-right ">
                                  Delivery Note

                                  <hr class="line">
                                  </td>
                                   <td>
                                  Mode/Terms of Payment<br>
                                  
                                  <hr class="line">
                                  </td>
                                </tr>

                                <tr>
                                  <td class="border-right ">
                                  Supplier’s Ref.<br>
                                  
                                  {{shipping.order.purchaseOrder}}

                                  <hr class="line">
                                  </td>
                                   <td>
                                  Other Reference(s) 
                                  <br> 
                                  &nbsp;
                                  <hr class="line">
                                  </td>
                                </tr>

                                <tr>
                                  <td class="border-right">
                                     Buyer’s Order No. <br>

                                   <b>{{shipping.order.id}}</b>

                                  <hr class="line">
                                  </td>
                                   <td>
                                 Dated
                                 <br>
                                  <b>{{dateFormat shipping.order.date}}</b>
                                  <hr class="line">
                                  </td>
                                </tr>


                                 <tr>
                                  <td class="border-right ">
                                      
                                      Vehicle Number / Tracking Number:<br>
                                   <b>{{shipping.vehicleNumber}}</b>

                                  <hr class="line">
                                  </td>
                                   <td>
                                  Driver Contact Details:<br> 
                                  <b>{{shipping.shipperContact}}</b>

                                  <hr class="line">
                                  </td>

                                </tr>


                              </table>

                               <div style="height: 150px"> <b>Dispatch Through:</b>
                                    {{shipping.dispatchFrom}}
                                    <br>
                                   <b> Terms of delivery:</b>
                                    {{shipping.detail}}
                               </div>
                            </td>
                          </tr>
                        </table>
                        <div class="item-container">
                        <table class="invoice-tbl item-tbl" border="0">
                          <tr>
                            <th>S No</th>
                            <th>Description of Goods</th>
                            <th>HSN/SAC</th>
                            <th style="width: 50px">GST Rate</th>
                            <th>Quantity</th>
                            <th>Rate</th>
                            <th>per</th>
                            <th>Disc.%</th>
                            <th>Amount</th>
                          </tr>
                           {{#each shippingItems}}
                             {{add 'subtotal' (math rate qty '*') }}

                              {{add 'taxTotal' (per rate qty tax)}}
                              <tr class="item-border-right">
                                <td>{{inc @index}}</td> 
                                <td><b></b> 
                                <small>&nbsp; &nbsp; {{product.name}}</small>
                                </td>
                                <td>{{hsnSac}}</td>
                                <td> {{tax}} %</td>
                                <td>{{qty}}</td>
                                
                                <td style="text-align: right;">{{rate}}</td>
                               <td>nos</td>
                                <td></td>
                                <td  style="text-align: right; padding-right: 20px; ">
                                {{math (math rate qty '*') }}</td>
                              </tr>
                              
                            
                               {{add 'total' @root.subtotal}}
                             
                            {{/each}}

                            <tr class="item-border-right">
                               <td></td>
                               <td style="text-align: right; height:80px; vertical-align: bottom;">
                              </td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td style="text-align: center;"></td>
                               <td style="text-align: right; padding-right: 20px; ">
                                {{math subtotal}} <br>
                                  <hr class="line">
                               </td>
                                  
                              </tr>

                            <tr class="item-border-right">
                               <td></td>
                               <td style="text-align: right; height: 150px; vertical-align: top;">
                                {{#if (eq shipping.user.address.ship_state_country 'Uttar Pradesh')}} 
                                
                                <b>Output CGST</b><br>
                                <b>Output SGST</b><br>
                                {{else}}
                                <b>Output IGST</b><br>
                                {{/if}}
                               <b>Tcs of Any Goods @.075%</b>
                              </td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td style="text-align: center; vertical-align: top;">%</td>
                               <td></td>
                               <td style="text-align: right; padding-right: 20px; vertical-align: top; ">
                                {{#if (eq shipping.user.address.ship_state_country 'Uttar Pradesh')}} 
                                  <b>{{math taxTotal 2 '/'}} </b><br>
                                
                                  <b>{{math taxTotal 2 '/'}} </b><br>
                                    {{set 'sameState'  1}}
                                   {{else}}
                                   <b>{{math shipping.order.tax}} </b><br>
                                    {{set 'sameState'  0}}
                                     {{add 'total' taxTotal}}
                                 {{/if}}
                                 <b>{{math shipping.order.extraTax}}</b>

                                 <hr class="line">
                               
                                 <b>{{math total}} </b>

                               </td>
                                  
                              </tr>

                                <tr class="item-border-right" style="border-top: 1px solid #444;">
                               <td></td>
                               <td style="text-align: right;">
                                
                               <b>Total</b>
                              </td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td style="text-align: right; padding-right: 20px; vertical-align: top; ">
                                
                               <b> 
                                 {{math total}}</b>
                               </td>
                                  
                              </tr>
                               <tr class="item-border-right" style="border-top: 1px solid #444;">
                               
                               <td colspan="9">
                                Amount Chargeable (in words)
                                <h6>
                                  <b id="total-in-words"></b>
                                </h6>
                                </td>
                              </tr>
                        </table>
                        <table class="invoice-tbl" border="1">
                          <thead>
                          <tr><th style="width: 50%; text-align: center;" rowspan="2">HSN/SAC</th> 
                            <th style="width: 10%; text-align: center;" rowspan="2">Taxable <br> Value</th> <th style="width: 20%; text-align: center;" colspan="2">
                              Integrated Tax
                            </th> 
                            <th style="width: 20%; text-align: center;" rowspan="2">Total <br> Tax Amount</th></tr>

                            <tr>
                            <th style="width: 8%; text-align: center;">
                             Rate
                            </th> 
                            <th style="width: 12%; text-align: center;">
                              Amount
                            </th> 
                            </tr>
                            </thead>
                            <tbody class="taxData">

                            
                            </tbody>

                            <tfoot class="taxDataTotal">
                             
                            </tfoot>

                        </table>

                        <div >
                          <h6 class="taxTotalInWord" style="padding-left: 10px;"></h6>
                        </div>

                        <table class="invoice-tbl">
                          <tr>
                            <td>Company’s PAN </td> <td> <big><b>AWLPT5290N</b></big></td>
                             <td style="width: 50%" rowspan="2">

                              Company’s Bank Details <br>
                              <table width="100%">
                                 <tr>
                                  <td>Bank Name :</td> <td>  <b> ICICI BANK</b> </td>
                                 </tr> 
                                 <tr>
                                  <td>A/c No.  :</td> <td>  <b> 695605500313 </b> </td>
                                 </tr> 
                                 <tr>
                                  <td>Branch & IFS Code :</td> <td>  <b> SHAHIBABAD & ICIC0006956 </b> </td>
                                 </tr>
                                </tr>
                              </table>
 

                              </td>
                          </tr>

                          <tr>
                            <td colspan="2">
                             <u> Declaration</u> <br>
We declare that this invoice shows the actual price of the
goods described and that all particulars are true and correct.

                            </td>
                             
                          </tr>
                        </table>
                        <table width="100%" border="1" style="border-collapse: collapse; border-color: transparent; border-top-color: #444; ">
                          <tr>
                            <td style="width: 50%; padding: 5px"  >
                            Customer’s Seal and Signature <br><br>
                          </td>
                          <td  style="border-left:1px solid #444; text-align: right; padding: 5px">
                             <br><br>
                             Authorised Signatory
                          </td>
                        </tr>
                        </table>

                      </div>
                      <div style="text-align: center;">
                          <br>
                          SUBJECT TO UTTAR PRADESH JURISDICTION <br>
                           <small> This is a Computer Generated Invoice </small>
                        </div>
                      <style type="text/css">
      .invoice-print *{
        color:#444!important;
      }
      .invoice-tbl{
        width: 100%;
        border-collapse: collapse;
      }
      .invoice-tbl tr th,.invoice-tbl tr td{
         padding: 5px 5px;
      }
      .print-heading{
        font-weight: bold;
        margin: 0;
      }
      .line{
        border-color: #444!important;
        margin:5px 0 ;
        border:1px solid;
      }
     
      .border-right{
        border-right: 2px solid #444; 
      }
      .inner-tbl .line{
        margin-top: 2px !important;
        margin-bottom: 2px !important;
      }

      .inner-tbl tr th,.inner-tbl tr td{
         padding: 2px 2px;
      }

      .item-container {
        border:1px solid #444;
        min-height: 450px;
      }
     .item-tbl tr th{
        border:1px solid #444;
        border-top: none;
        text-align: center;
      }
       .item-tbl tr th:first-child{
        border-left: none;
        width: 30px;
      } .item-tbl tr th:last-child{
        border-right:  none;
      }

      .item-border-right td{
        border-right: 1px solid #444;
      }
      .item-tbl{
         border-collapse: collapse;
      }
      .inner-tbl{
        border-collapse: collapse;
      }
        @media print{
          *{
            line-height: 10px;
            font-size:  10px;
          }
        }
    </style>
<script>
  var unique = [];
  var rate = [];
  var tax = [];
</script>

{{#each shippingItems}}
 
  <script>

     var t = parseFloat("{{tax}}");
     var r = parseFloat("{{rate}}");
     var q = parseFloat("{{qty}}");
     var hsnSac = "{{hsnSac}}";
     var index = unique.indexOf(hsnSac);
     if(index > -1){
        rate[index] += r*q; 
     }else{
      rate.push(r*q);
      tax.push(t);
      unique.push(hsnSac);
     }

   
  </script>
{{/each}}

  

<script type="text/javascript">
      var sameState = parseInt("{{sameState}}");
   
setTimeout(setTaxTbl,500);

function setTaxTbl(){
      var totalRate = 0;
      var totalTaxRate = 0;
      for(i in unique){
       
        var taxHeader ='';
        if(sameState){
            let  taxPer = tax[i]/2;
           var taxRate = ((rate[i]*taxPer)/100);
        totalTaxRate +=taxRate;
        totalRate += rate[i];
          taxHeader = '<tr>\
          <td>'+unique[i]+'</td>\
          <td>'+rate[i].toFixed(3)+'</td>\
          <td>'+taxPer+'%</td>\
          <td>'+taxRate.toFixed(3)+'</td>\
          <td style="text-align: right; padding-right: 25px">'+taxRate.toFixed(3)+'</td>\
          </tr>';
           totalTaxRate +=taxRate;
           taxHeader += '<tr>\
          <td>'+unique[i]+'</td>\
          <td>'+rate[i].toFixed(3)+'</td>\
          <td>'+taxPer+'%</td>\
          <td>'+taxRate.toFixed(3)+'</td>\
          <td style="text-align: right; padding-right: 25px">'+taxRate.toFixed(3)+'</td>\
          </tr>';
        }else{

           var taxRate = ((rate[i]*tax[i])/100);
        totalTaxRate +=taxRate;
        totalRate += rate[i];
          taxHeader = '<tr>\
          <td>'+unique[i]+'</td>\
          <td>'+rate[i].toFixed(3)+'</td>\
          <td>'+tax[i]+'%</td>\
          <td>'+taxRate.toFixed(3)+'</td>\
          <td style="text-align: right; padding-right: 25px">'+taxRate.toFixed(3)+'</td>\
          </tr>';
        }

        jQuery('.taxData').append(taxHeader);
      }

      jQuery('.taxDataTotal').html(
        ' <tr>\
                                <th style="text-align: right;">Total</th>\
                                <td style="font-weight:700;">'+totalRate.toFixed(3)+'</td>\
                                <td></td>\
                                <td style="font-weight:700;">'+totalTaxRate.toFixed(3)+'</td>\
                                <td style="text-align: right; font-weight:700; padding-right: 25px">'+totalTaxRate.toFixed(3)+'</td>\
                              </tr>'
        );

      jQuery('.taxTotalInWord').html('<small>Tax Amount (in words) : </small><b>'+convertNumberToWords(totalTaxRate)+' Only</b>');
}

function convertNumberToWords(s) {
  s = parseFloat(s);

  var th = ['', 'thousand', 'million', 'billion', 'trillion'];

var dg = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'];
var tn = ['ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen'];
var tw = ['twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'];

    s = s.toString();
    s = s.replace(/[\, ]/g, '');
    if (s != parseFloat(s)) return 'not a number';
    var x = s.indexOf('.');
    if (x == -1) x = s.length;
    if (x > 15) return '-';
    var n = s.split('');
    var str = '';
    var sk = 0;
    for (var i = 0; i < x; i++) {
        if ((x - i) % 3 == 2) {
            if (n[i] == '1') {
                str += tn[Number(n[i + 1])] + ' ';
                i++;
                sk = 1;
            } else if (n[i] != 0) {
                str += tw[n[i] - 2] + ' ';
                sk = 1;
            }
        } else if (n[i] != 0) {
            str += dg[n[i]] + ' ';
            if ((x - i) % 3 == 0) str += 'hundred ';
            sk = 1;
        }
        if ((x - i) % 3 == 1) {
            if (sk) str += th[(x - i - 1) / 3] + ' ';
            sk = 0;
        }
    }
    if (x != s.length) {
        var y = s.length;
        str += 'and ';
        for (var i = x + 1; i < y; i++) str += dg[n[i]] + ' ';
    }
    var a = str.replace(/\s+/g, ' ');
    return a.charAt(0).toUpperCase() + a.slice(1);
}

    </script>
</div>

                  

                   
                      

                      <!-- this row will not appear when printing -->
          <div class="row no-print">
            <div class="col-md-12 text-center">
              <br>
             <center> <button class="btn btn-default" onclick="invoicePrint()"><i class="fa fa-print"></i> Print</button></center>
              
            </div>
          </div>
        </section>
 
      <script type="text/javascript">
        function invoicePrint(){
            var prtContent = document.getElementById("PrintSection");
            var WinPrint = window.open('', '', 'left=0,top=0,width=800,height=800,toolbar=0,scrollbars=0,status=0');
            WinPrint.document.write(prtContent.innerHTML);
            WinPrint.document.close();
            WinPrint.focus();
            WinPrint.print();
            //WinPrint.close();
        }


        document.getElementById("total-in-words").innerHTML=convertNumberToWords('{{total}}')+ ' Only';
      </script>
    <!-- jQuery -->



      </div>
    </div>
  </div>
</div>






<script>
  setTimeout(() => setUserCurrentTab(), 300);
</script>


{{ include 'global/footer' }}
