<!DOCTYPE html>
<html lang="en">
<head>
   <title> {{app.name}}</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  


{{ include 'global/header' }}



{% set user = app.session.user %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 p-0 user-dash-col-1">
      <nav class="user-dash-nav">
      <ul>

            <li><a class="btn user-menu btn-block" value="dashboard-tab" href="{{app.url}}my-account"><i
                              class="icon-arrow-left"></i> Dashboard </a></li>
            <li>
                  <a class="btn user-menu btn-block" value="orders-tab"><i
                              class="icon icon-shopping_cart"></i> Refer </a>

            </li>
      </ul>
</nav>
    </div>
    <div class="col-md-10 p-0">

      <div class="user-dash-section">
        <div class="dashboard-header text-right bg-white">
          <span style="float:left; font-size: 1.2em; border-bottom: 1px solid #17a2b8;"
            class="text-info d-none d-lg-block"> Username:
            <b class="text-primary">{{user.first_name}}</b>!</span>
          <button class="btn btn-outline-primary" onclick="location.reload()"> <i class="icon icon-repeat"></i> Reload
          </button>
          &nbsp; <a class="btn btn-outline-danger" href="{{app.url}}logout"> <i class="icon icon-sign-out"></i> Logout
          </a>
        </div>






        <div class="bg-light">
          <div class="container pt-10 pb-10">
            <div>
              <h5>Your Referral Code [<strong class="text-info text-upper">{{code}}</strong>]</h5>
              <i class="text-info">*If you apply this code, you will get 2% extra discount on your order.</i>
            </div>
            <div class="pt-5">
            {% if referral.user_id %}
              You have applied referral code <a href="{{app.url}}mattress">Shop Now</a>  
            {% else %} 
              <form method="post" action="{{app.url}}apply-referral-code">
                <input type="hidden" name="referral[referral_code]" value="{{code}}">
                <button class="btn btn-success">Apply Now</button>
             </form>
            {% endif %} 
         
            </div>
          </div>
        </div>




      </div>
    </div>
  </div>
</div>



<script>
  setTimeout(() => setUserCurrentTab(), 300);
</script>

{{ include 'global/footer' }}
