<table align="center" cellpadding="0" cellspacing="0" style="width:210mm; max-height:297mm;">
<tbody><tr>
	<td align="center">
        <br><br><br><br><br><br><br><br><strong style="font-size:22px;"><u>FUMIGATION CERTIFICATE</u></strong>
	</td>
</tr>
<tr>
	<td>
    	<table style="width:100%;">
        <tbody><tr>
            <td class="td">DPPQS Registration No. : &nbsp;<strong>395/ALP	</strong></td>
        </tr>
        <tr>
            <td class="td">Treatment Certificate Number:&nbsp;<strong>AMD/ALP/23-24/04/0017</strong></td>
            <td align="right" class="td"> &nbsp;Date of Issue:&nbsp;<strong>27-04-2023</strong></td>
        </tr>
        </tbody></table>
    </td>
</tr>
<tr>
    <td height="25" class="tdcounrypara">This is to certify that the following regulated articles have been fumigated according to the appropriate procedures to conform to the current Phytosanitary requirments of the importing country :  <strong>UNITED ARAB EMIRATES</strong>.</td>
</tr>

<tr>
    <td height="25" align="center" valign="middle" class="b p10"><strong>DETAILS OF GOODS</strong></td>
</tr>
<tr>
	<td>
    <table style="width:100%;" cellpadding="0" cellspacing="0">
        <tbody><tr>
            <td height="25" valign="middle" class="td l b r p5" colspan="4">Description of Goods : CUMIN SEEDS</td>
        </tr>
        <tr>
            <td height="25" valign="middle" class="td l b r p5" colspan="4">Quantity Declared :
		     NO OF PKG/PCS. : <strong>1120 BAGS</strong><span style="padding-right:10px;">&nbsp;</span>NET WEIGHT : <strong>27888.00 KGS</strong><span style="padding-right:10px;">&nbsp;</span>GROSS WEIGHT : <strong>28000.00 KGS</strong><span style="padding-right:10px;">&nbsp;</span><br>PACKING DETAILS : <strong>1120 BAGS</strong><span style="padding-right:10px;">&nbsp;</span>            </td>
        </tr>
        <tr>
            <td height="25" valign="middle" class="td l b r p5">Distinguishing Marks:</td>
            <td height="25" valign="middle" class="td b r p5">AS PER INVOICE</td>
        	<td height="25" valign="middle" class="td b r p5">Consignment Link /<br>Container No.:</td>
            <td height="25" valign="middle" class="td b r p5"><u>1 <strong><samp style="font-family:Arial, Helvetica, sans-serif;">X</samp></strong> 40' </u><br>MRSU-4341450-40FT<span style="padding-right:10px;">&nbsp;</span></td>
        </tr>
        <tr>
            <td height="25" valign="middle" class="td l b r p5">Port &amp; Country of Loading :</td>
            <td height="25" valign="middle" class="td b r p5">MUNDRA</td>
            <td height="25" valign="middle" class="td b r p5">Name of the vessel/ship :</td>
            <td height="25" valign="middle" class="td b r p5">BY SEA</td>
        </tr>
        <tr>
            <td height="25" valign="middle" class="td l b r p5">Country of Destination :</td>
            <td height="25" valign="middle" class="td b r p5">UNITED ARAB EMIRATES</td>
            <td height="25" valign="middle" class="td b r p5">Declared point of Entry :</td>
            <td height="25" valign="middle" class="td b r p5">JEBEL ALI</td>
        </tr>
        <tr>
        <td height="25" class="td l b r p5" colspan="2">Name &amp; ADdress of Exporter : <br><strong>SHREE VAIBHAV CORPORATION</strong><br>D-303, MARKET YARD,
UNJHA – 384170. (N. GUJARAT) INDIA.</td>
        <td height="25" class="td b r p5" colspan="2">Name &amp; Address of consignee : <br><strong>H.B.S FOODSTUFF TRADING LLC</strong><br> OFFICE M22 BLOCK 10, AL AWEER FRUIT &amp;
VEGETABLE MARKET, DUBAI (UAE)</td>
	</tr>
        </tbody></table>
    </td>
</tr>
    
<tr>
    <td height="25" align="center" valign="middle" class="b p10"><strong>SCHEDULE OF TREATMENT</strong></td>
</tr>
<tr>
	<td>
    <table style="width:100%;" cellpadding="0" cellspacing="0">
        <tbody><tr>
            <td width="22%" height="25" class="td l b p5">Name of Fumigant  : </td>
            <td width="24%" class="td l b r p5">Aluminium Phosphide</td>
            <td width="31%" height="25" class="td b p5"> Date of Fumigation : </td>
            <td width="23%" class="td b l r p5">21-04-2023</td>
        </tr>
        <tr>
            <td height="25" class="td l b p5">Place of Fumigation :</td>
            <td height="25" class="td l b r p5">&nbsp;UNJHA</td>
            <td height="25" class="td  b p5">Dosage rate of Fumigant :</td>
            <td height="25" class="td l b r p5">&nbsp;9 Gram/MT</td>
        </tr>
        <tr>
            <td height="25" class="td l b  p5">Duration of Fumigation  :</td>
            <td height="25" class="td l b r p5">120 Hours</td>
            <td height="25" class="td b p5">Minimum Air temp.:</td>
            <td height="25" class="td l b r p5">26ºC</td>
        </tr>
        <tr>
        	<td height="25" colspan="3" class="td l b p5">Average Ambient Humidity During Fumigation (RH)</td>
            <td height="25" class="td l b r p5">53%</td>
        </tr>
      	<tr>
            <td height="25" colspan="3" class="td l b p5">Fumigation Performed under gas tight enclosure/sheets</td>
            <td height="25" class="td b l r p5">Yes</td>
        </tr>
        <tr>
            <td height="25" colspan="3" class="td l b p5">Container pressure test conducted</td>
            <td height="25" class="td b l r p5">No</td>
        </tr>
        <tr>
            <td height="25" colspan="3" class="td l b p5">Container has 200 mm free air space at top of container</td>
            <td height="25" class="td b l r p5">Yes</td>
        </tr>
        <tr>
            <td height="25" colspan="3" class="td l b p5">In transit Fumigation - needs Ventilated at port of discharge</td>
            <td height="25" class="td b l r p5">No</td>
        </tr>
        <tr>
            <td height="25" colspan="3" class="td l b p5">Enclosure has been ventilated to below 0.3 ppm v/v PH3</td>
            <td height="25" class="td b l r p5">Yes</td>
        </tr>
	</tbody></table>
    </td>
</tr>
<tr>
	<td height="25" align="left" valign="middle" class="td p5"><strong><u>&nbsp;Additional Declaration</u></strong> : 
    INVOICE : SVCEXP-97/23-24 DT; 20.04.2023</td>
</tr>
<tr>
    <td class="defaulttext"><strong>Accredited Fumigation Agency by Directorate of Plant Protection Quarantine and storage, Ministry Of Agriculture, Government of India.</strong></td>
</tr>
<tr>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>
    <table width="100%" border="0">
		<tbody><tr>
            <td width="64%" align="left" valign="top" class="td">Name of accredited Fumigation operator : RAKESH KUMAR SINGH</td>
          <td width="36%" rowspan="2" align="left" valign="top" class="tabletdhead"><div align="center"> <img src="../signature/2575-3594-sukharks.jpg"><br><span style="border-top:1px solid #333333;">Signature</span></div></td>
        </tr>
		<tr>
    		<td align="left" valign="top" class="td">DPPQS Accreditation No.: 395021116</td>
   	    </tr>
    	<tr>
        	<td colspan="2" align="left" valign="bottom" class="defaulttext">P.S.:No liability attaches to the certifying company or its Proprietor or Representative with respect to this certificate.</td>
        </tr>
</tbody></table></td>
<td>&nbsp;</td>
</tr>

</tbody></table>