<table align="center" cellpadding="0" cellspacing="0" style="width:210mm; max-height:297mm;">
	<tbody><tr>
    	<td width="26" rowspan="9">&nbsp;</td>
        <td width="766">
        <table width="100%" border="0" cellpadding="3" cellspacing="0">
        <tbody><tr>
            <td colspan="2" class="funmigation" style="font-size:20px; font-weight:bolder; text-decoration:none; text-align:center"><br><br><br><br><br><br>METHYL BROMIDE FUMIGATION CERTIFICATE<br><br></td>
        </tr> 
            <tr>
            <td colspan="2">
            <table width="100%" cellpadding="0" cellspacing="0">
            <tbody><tr>
                <td align="left" valign="top" class="p5" style="text-align:justify; font-weight:bolder;">Certificate Number :&nbsp;<span style="border:1px solid #000000; padding:10px;">AMD/MB/AUS/23-24/04/0006</span></td>
                <td align="right" class="p5" style="font-weight:bolder;">Registration Number :&nbsp;<span style="border:1px solid #000000; padding:10px;">IN 565/MB </span></td>
              </tr>
            </tbody></table></td></tr>
            <tr>   
            	<td colspan="2" class="leftmargin p10 strhead" style="border-bottom:1px solid #333333;"><div align="center"><strong>TARGET OF FUMIGATION DETAILS</strong></div></td>
          </tr>
            <tr>
            	<td width="119" class="leftmargin">Target of Fumigation :</td>
           	  <td width="623" align="left" class=""> <img src="../assets/img/check_box.png"> Commodity  <span style="padding-right:30px;">&nbsp;</span>
			   <img src="../assets/img/check_box.png">  Packing <span style="padding-right:30px;">&nbsp;</span>
			  &nbsp;&nbsp;<img src="../assets/img/check_box1.png">   Both Commodity &amp; Packing <span style="padding-right:30px;">&nbsp;</span>
		 <img src="../assets/img/check_box.png">  Container
		
		</td>
		  </tr>
            <tr>
            	<td class="leftmargin">Commodity : </td>
            	<td class="leftmargin">&nbsp;FOOD STUFF</td>
            </tr>
            <tr>
            	<td class="">Quantity :</td>
            	<td class="">NO OF PKG/PCS. : <strong>934 PACKAGES</strong><span style="padding-right:10px;">&nbsp;</span>NET WEIGHT : <strong>10893.340 KGS</strong><span style="padding-right:10px;">&nbsp;</span>GROSS WEIGHT : <strong>11969.500 KGS</strong><span style="padding-right:10px;">&nbsp;</span><br>PACKING DETAILS : <strong>934 PACKAGES</strong><span style="padding-right:10px;">&nbsp;</span></td>
			</tr>
            <tr>
            	<td class="leftmargin">Consignment Link :</td>
                <td class="leftmargin">&nbsp; -</td>
			</tr>
		  </tbody></table>	  </td>
	</tr>
    <tr>
    	<td>
        	<table width="100%" border="0" cellpadding="3" cellspacing="0">
            <tbody><tr>
            	<td width="100" height="26" class="leftmargin">Country of origin : </td>
              <td width="125" class="leftmargin"> &nbsp;INDIA</td>
              <td width="100" class="leftmargin">&nbsp;Port  of Loading : </td>
              <td width="112" class="leftmargin">MUNDRA</td>
              <td width="125" class="leftmargin">Country of Destination : </td>
              <td width="156" class="leftmargin">MELBOURNE, AUSTRALIA<br></td>
			</tr>
            <tr>
            	<td colspan="3" align="left" valign="top" class="td leftmargin" style="padding-left:3px;">Name and address of Exporter :<br>
                RAJ INTERNATIONAL<br>
                669, VASANDAS STREET, ASARWA, AHMEDABAD - 380016, [INDIA]
<br>UNIT : 494/E,NR. HARIPURA GARDEN, ASARWA, 
AHMEDABAD – 380016 [INDIA]
</td>
                <td colspan="3" align="left" valign="top" class="td leftmargin" style="padding-left:3px;">Name and Address of importer :<br>
				CHETAK MELBOURNE PTY LTD<br>
                UNIT 1/4 RAILWAY AVE, HUNTINGDALE, 
VIC - 3166, AUSTRALIA
</td>
			</tr>
            </tbody></table>		</td>
	</tr>
    <tr>
   	  <td height="24" colspan="2" align="center" valign="bottom" class="leftmargin p10 strhead" style="border-bottom:1px solid #333333; height:20px;"><strong>TREATMENT DETAILS</strong></td>
</tr>
    <tr>
    	<td>
        	<table width="100%" border="0" cellpadding="3" cellspacing="0" class="table" style="border:0px;">
            <tbody><tr>
                <td width="44%" class="text leftmargin">Date of Fumigation completed : 24-04-2023</td>
                <td width="56%" class="leftmargin">Place of Fumigation : AHMEDABAD</td>
            </tr>
            <tr>
                <td class="leftmargin">Department of Agriculture and Water Resources<br>prescribed dose rate (g/m<sup>3</sup>) : 80 GMS/C.MTR</td>
                <td class="text">Exposure period (hrs) : 48</td>
            </tr>
            <tr>
                <td class="leftmargin" style="border-bottom:1px solid #333333;">Forecast minimum temp (°C) : 26 (°C)</td>
                <td class="leftmargin" style="border-bottom:1px solid #333333;"> Applied dosage rate (g/m<sup>3</sup>) : 80 GMS/C.MTR</td>
            </tr>
            </tbody></table>		</td>
	</tr>
    <tr style="border:0px;">
    	<td>
            <table width="100%" border="0" cellpadding="3" cellspacing="0" class="table" style="border:0px;">
            <tbody><tr style="border:0px;">
                <td width="31%" class="text leftmargin">How was the fumigation conducted : </td>
                <td width="40%" class="text"> <img src="../assets/img/check_box.png"> Un-sheeted Container</td>
                
                <td width="29%" class="text"> <img src="../assets/img/check_box1.png" style="margin-top:3px;"> Sheeted Container/s </td>
            </tr>
            <tr>
                
                
                <td class="text"> <img src="../assets/img/check_box.png"> Chamber</td>
                
                <td class="text"> <img src="../assets/img/check_box.png"> Pressure tested container/s</td>
                
                <td class="text"> <img src="../assets/img/check_box.png"> Sheeted Stack</td>
            </tr>
                        <tr>
                <td align="left" valign="top" class="text leftmargin" style="border-bottom:1px solid #333333;">Container number/s (where applicable) : </td>
                <td colspan="2" align="left" valign="top" class="" style="border-bottom:1px solid #333333;">
                <u>1 <strong><samp style="font-family:Arial, Helvetica, sans-serif;">X</samp></strong> 40' </u><br>TCNU-2959330-40FT<span style="padding-right:30px;">&nbsp;</span>                </td>
            </tr>
                        <tr class="leftmargin">
                <td colspan="2" class="text leftmargin">Does the target of the fumigation confirm to the plastic wrapping,<br>impervious surface and timber thickness requirements at the time of fumigation ?</td>
                <td align="left" valign="bottom" class="text">
                 <img src="../assets/img/check_box1.png" style="margin-top:3px;">  Yes&nbsp;&nbsp;&nbsp;&nbsp; 
				 <img src="../assets/img/check_box.png"> No</td>
            </tr>
            <tr class="leftmargin" style="border-bottom:1px solid #333333;">
                <td class="text leftmargin"><span style="font-weight: bold">Ventilation </span>Final TLV reading(ppm) : </td>
                <td colspan="2" class="text">3.00 PPM&nbsp;&nbsp;&nbsp;(not required for Stack or Permanent Chamber fumigation)</td>
            </tr>
            <tr class="leftmargin">
            	<td colspan="3" align="center" class="leftmargin p10 strhead" style="border-bottom:1px solid #333333;"><strong>DECLARATIONS</strong></td>
            </tr>
            <tr class="leftmargin">
            <td colspan="3" align="center" class="smallandsmall"> By signing below, I , the accredited fumigator responsible, declare that these details are true and correct and the fumigation has been carried out in accordance with all the requirements in the Methyl Bromide Fumigation Methodology.</td>
            </tr>
            </tbody></table>		</td>
	</tr>
    <tr>
    	<td class=" leftmargin p10 strhead" align="center" style="border-bottom:1px solid #333333; border-top:1px solid #333333;"><strong>ADDITIONAL DECLARATIONS</strong></td>
	</tr>
    <tr>
    	<td class="text leftmargin">
		( DATE OF FUMIGATION :- 22.04.2023) INVOICE NO: EXP/006/2023-24 DTD. :- 14.04.2023</td>
	</tr>
	<tr>
        <td class="t">&nbsp;</td>
	</tr>
	<tr>
        <td>
            <table width="100%" border="0">
            <tbody><tr>
              <td width="41%" rowspan="2" align="left" valign="bottom" class="text"><img src="../signature/3594-sukharks.jpg" width="104" height="60"><br></td>
              <td width="23%" height="175" align="left" valign="bottom" class="text">&nbsp;</td>
              <td width="36%" rowspan="5" align="center" valign="top" class="text">
              	              </td>
            </tr>
            <tr>
              <td height="175" valign="bottom" class="text">Date : <span class="text1">25-04-2023</span></td>
              </tr>
            <tr>
              <td height="175" align="left" valign="bottom" class="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text1">Signature</span></td>
              <td align="left" valign="bottom" class="text">&nbsp;</td>
              </tr>
            <tr>
              <td height="175" align="left" valign="bottom" class="text">RAKESH KUMAR SINGH</td>
              <td align="left" valign="bottom" class="text">AFAS-IN565021116</td>
              </tr>
            <tr>
              <td height="175" align="left" valign="bottom" class="text">Name of Accredited Fumigator</td>
              <td align="left" valign="bottom" class="text">Accreditation Number</td>
              </tr>
      </tbody></table>	  </td>
	</tr>
    </tbody></table>