<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>
<body>
 <h2><center>FUMIGATION CERTIFICATE</center> </h2>
 <hr style = "border-top: 1px solid black;">
 <div>
  <p>
  <div> <b>DPPQS Registration No. 832/MB , DATED: {{certificateDate}}</b></div></p>
 



<p>
<div style="display:table;width: 100%;">
<div style="display:table-cell;">Treatment Certificate No. : <b>PKIN01GN2300072 </b>  </div> <div style="display:table-cell;text-align: right;">Date of Issue: <b>27/03/2023 </b></div>
</div>
</p>


<p>
This is to certify that the following regulated articles have been fumigated according to the appropriate
procedures to confirm to the current Phytosanitary requirements of the importing country
</p>
 </div>


 <h3><center>DETAILS OF GOODS</center></h3>




<table border="1" style="width:100%;border-collapse: collapse;">
  <tr><td> <b>Description of Goods : </b> </td>  <td> <b> CHICKPEAS </b></td> <td> Distinguishing <br> Marks :</td> <td> <b>INV NO: ASPL/2022-23/36 </b> <br> <b>DATE: 24.02.2023  </b></td></tr>


<tr><td> Quantity declared : </td>  <td> <b> 2090( 785 PP BAGS AND 1305 CTN) </b></td> <td rowspan="3"> Consignment Link / <br>

Container No:  </td> <td rowspan="3">  <b>FCIU8087727/40 </b></td></tr>
 

<tr><td> Total Net Weight : </td>  <td> <b> 26140.00 KGS  </b></td> </tr>
<tr><td> Total Gross Weight : </td>  <td> <b> 27200.00 KGS  </b></td> </tr>


<tr><td> Port & Country of loading : </td>  <td> <b> MUNDRA, INDIA </b></td>  <td> Name of Vessels / Ship:</td>  <td><b>HYUNDAI BUSAN / 0143E </b></td></tr>


<tr><td> Country of Destination : </td>  <td> <b> INDONESIA </b></td> <td> 



ANDALAN SHAKTI PRIVATE LIMITED</td> <td>  <b>JAKARTA, INDONESIA </b></td></tr>

<tr><td> Name & Address of <br>Consignor / Exporter:</td>  <td colspan="3"> <b> ANDALAN SHAKTI PRIVATE LIMITED  </b> 
B NO. 114, SHANTI KUNJ NEAR VIMAL PARK, VILL HANSPURA, AHMEDABAD-382330, GUJARAT, INDIA.</td> </tr>

 

<tr><td> Declared name & Address
of Consignee:</td>  <td colspan="3"> <b> PT. EMPIRE TRADING INDONESIA</b>
JL K H MAS MANSYUR, 19C, KEBON KACANG, TANAH ABANG, KOTA ADM. JAKARTA PUSAT,
DKI JAKARTA, 10240 INDONESIA.
NPWP: 95.504.803.8-061.000 </td> 
</table>

<h3><center>DETAILS OF TREATMENT</center></h3>
<table border="1" style="width:100%;border-collapse: collapse;">
<tr><td>Name of Fumigant:<b> METHYL BROMIDE</b></td> <td> Date of Fumigation:<b>{{fumigationDate}}</b><td>Place of Fumigation : <b>AHEMDABAD, INDIA </b></td></tr>


<tr><td>  Dosage rate of Fumigants:<b>  80 GMS/CU.M.</b></td> <td> Duration of Fumigation:<b> {{fumigationDuration}} </b><td>Minimum Air temperature : <b>21°C</b></td></tr>

<tr><td colspan="2">Fumigation has been performed in a container/under gas tight enclosure/sheets:</td><td> <b>YES,UNDER GAS TIGHT SHEET</b> </td></tr>

<tr><td colspan="2">Container pressure test conducted :</td><td> <b>No </b> </td></tr>

<tr><td colspan="2">Container has 200mm free air space at top of container:</td><td> <b>Yes </b> </td></tr>
<tr><td colspan="2">In transit Fumigation-Need Ventilation at port of discharge:</td><td> <b>No </b> </td></tr>
<tr><td colspan="2">Container/Enclosure has been ventilated to below 5ppm v/v Methyl Bromide :
</td><td> <b>Yes </b> </td></tr>
</table>


<h3><center>WRAPPING & TIMBER</center></h3>
<table border="1" style="width:100%;border-collapse: collapse;">
  <tr><td> 
Has the commodity been fumigated prior to lacquering, varnishing, painting or wrapping?</td> <td width="25%"> <b>N/A </b></td></tr>
<tr><td> 
Has plastic wrapping been used in the consignment?
<ul> 
<li> If yes, has the consignment been fumigated prior to wrapping?
</li> 
<li>Or has the plastic wrapping been slashed, opened, or perforated in accordance 
with the Wrapping and Perforated standard?</li>

</ul>
</td> <td width="25%"> 
  <b>No </b><br>
  <b>N/A </b><br>
  <b>N/A </b><br>
</td></tr>
<tr><td> Is the timber in the consignment less than 200 mm thick in one dimension and correctly 
spaced every 200mm in height</td><td><b>No</b> </td></tr>
</table>
 
<table width="100%">
<tr>   <td>*ADDITIONAL DECLARATION: </td><td>This certificate will be valid only if the goods described above are shipped Within 21 days from the date of fumigation. </td></tr> 


</table>

*REMARK: N/A.
<table border="1" style="width:100%;border-collapse: collapse;">
<tr><td> 
  Name of Accredited Fumigation Operator:<b>{{fumigationOperator}}</b><br><br>
  DPPQS Accreditation No: <b>IN 832011121</b><br><br><br>

  Signature:
 </td> <td width="50% "> add stamp here</td></tr>
</table>
<p>*I declare that these details are true & correct and the fumigation has been carried out in accordance with the NSPM-12 standards.</p>
<p>
*P.S: No financial liability attaches to certifying company or its Representative With respect of this certificate.</p>
<p>*Consignment details as declared by shipper.</p>

  


</body>
</html>
 

