<style>
    @media print {
        * {

            font-size: 11px;
            font-family: Arial;
            /*-webkit-transform: scale(0.85);  
      -moz-transform: scale(0.85); 
      -ms-transform: scale(0.85); 
      -o-transform: scale(0.85);  
      transform: scale(0.85);
      margin: 0.5in;
      transform-origin: 0 0; */

        }

        #printTable {
            margin-top: 1in;
            margin-left: 0.5in;
        }

        .heading {
            font-size: 16px;
        }

    }

    .heading {
        font-size: 16px;
        font-family: Arial;

    }

    .heading span {
        position: relative;
    }

    .heading span::before {
        border-bottom: 1px solid #666;
        width: 100%;
        position: absolute;
        content: "";
        top: 100%;
    }

    .table.border {
        border-collapse: collapse;
        border-right: 1px solid gray;
        border-bottom: 1px solid gray;
    }

    .table.border td {
        border-top: 1px solid gray;
        border-left: 1px solid gray;
    }
    .border-up{
        position: relative;
    }
    .border-up::before {
        border-top: 1px solid #2196F3;
        width: 100%;
        position: absolute;
        content: "";
        top: -3px;
    }
</style>
<table align="center" id="printTable">
    <tbody>
        <tr>
            <td colspan="11" width="699" style="text-align: center;">
                <p class="heading"><span>Fumigation Certificate</span></p>
            </td>
        </tr>
        <tr>
            <td colspan="6" width="350">
                <p>Dte. PPQ&amp;S Regd. No. <strong>832/MB</strong></p>

                <p>Date:<strong>26/11/2021</strong></p>
            </td>
            <td colspan="6" width="350" style="text-align:right;">
                <p>Treatment Certificate: <strong>PI01GN230001</strong></p>

                <p>Date of Issue:<strong>08/06/2023</strong></p>
            </td>

        </tr>
        <tr>
            <td colspan="11">
                <table class="table border">
                    <tbody>
                        <tr>
                            <td colspan="12" width="703">
                                <p><em>This is to certify that the goods described below were treated in accordance with
                                        the</em>
                                    <em>fumigation treatment requirements of importing country. </em>USA<em> and
                                        declared that</em>
                                    <em>the consignment has been verified free of impervious surfaces/layers such as
                                        plastic
                                        wrapping</em> <em>or laminated plastic films, lacquered or painted surfaces,
                                        aluminium foil,
                                        tarred or waxed</em> <em>paper etc. that may adversely affect the penetration of
                                        the fumigant,
                                        prior to fumigation.</em>
                                </p>
                                <p><em>The Certificate is valid for the consignments shipped within 21 days from the
                                        date of</em>
                                    <em>completion of fumigation.</em>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12" width="703">
                                <p><strong>DESCRIPTION OF CONSIGNMENT</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" width="351">
                                <p><strong>1. Name &amp; address of exporter / consignor:</strong></p>
                                <p><strong>RATNARAJ FOODS</strong></p>
                                <p>SURVEY NO. 258, BLOCK NO. 515, VILLAGR- RAKANPUR, TAL. KALOL, DIST. GANDHINAGAR,
                                    AHMEDABAD, GUJARAT,
                                    382721.</p>
                            </td>
                            <td colspan="6" width="351">
                                <p><strong>2.Declared name &amp; address of consignee:</strong></p>
                                <p><strong>ZAMIN DARYATARABAR KIYAN</strong></p>
                                <p>INTERNATIONAL TRANSPORT CO. LTD. THREEWAY JAHANBAR, QHARMAN STREET, ROYAL 1 COMPLEX,
                                    BANDAR ABBAS,
                                    IRAN.</p>
                                <p>NOTIFY PARTY: ARAS GUMRUKLEME GIDA PAZ TEKS. TUR.INS SAN VE DIS,TIC.LTD.STI.</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" width="351">
                                <p><strong>3. Commodity:</strong></p>
                                <p>Chilli &ndash; <em>Capsicum annum </em>(DRY RED CHILLI WHOLE)</p>
                            </td>
                            <td colspan="6" width="351">
                                <p><strong>4. Distinguishing mark:</strong></p>
                                <p>Invoice No: RF0015/23-24;&nbsp; Invoice Date: 2205/2023</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" width="351">
                                <p><strong>5. Quantity declared:</strong> &nbsp; No. of Packages:&nbsp; <strong>1600 BAGS</strong> //&nbsp;</p>
                                <p>&nbsp;Net Weight: <strong>15000.000Kgs</strong> &nbsp; &nbsp;// &nbsp;&nbsp;Gross. Weight: <strong>15600.000Kgs</strong>
                                </p>
                            </td>
                            <td colspan="6" width="351">
                                <p><strong>6. Consignment link / Container number:</strong></p>
                                <p>BSIU3135630/40`</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" width="176">
                                <p><strong>7. Port &amp; country of loading:</strong></p>
                                <p>MUNDRA, INDIA</p>
                            </td>
                            <td colspan="4" width="176">
                                <p><strong>8.&nbsp; Country of destination</strong></p>
                                <p>IRAN</p>
                            </td>
                            <td colspan="2" width="176">
                                <p><strong>9. Name of the vessel:</strong></p>
                                <p>N/A</p>
                            </td>
                            <td colspan="4" width="176">
                                <p><strong>10.&nbsp;&nbsp; Port of entry:</strong></p>
                                <p>BANDAR ABBAS, IRRAN</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12" width="703">
                                <p><strong>DETAILS OF TREATMENT</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" width="234">
                                <p><strong>11. Name of Fumigant:</strong></p>
                                <p>METHYL BROMIDE (CH<sub>3</sub>BR)</p>
                            </td>
                            <td colspan="4" width="234">
                                <p><strong>12.&nbsp; Date of Fumigation:</strong></p>
                                <p>06/06/2023</p>
                            </td>
                            <td colspan="5" width="234">
                                <p><strong>13.&nbsp; Place of Fumigation:</strong></p>
                                <p>AHMEDABAD, INDIA</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" width="234">
                                <p><strong>14.&nbsp; Dose of Fumigant:</strong></p>
                                <p>80 GRAMS/CUM</p>
                            </td>
                            <td colspan="4" width="234">
                                <p><strong>15. Duration of Fumigation:</strong></p>
                                <p>48 hours</p>
                            </td>
                            <td colspan="5" width="234">
                                <p><strong>16.&nbsp; Minimum air temperature:</strong></p>
                                <p>28 <sup>O</sup>C</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <p><strong>17.</strong>&nbsp;&nbsp; Fumigation Performed under gastight sheets</p>
                            </td>
                            <td colspan="1" width="60px" style="border-left:none;">
                                <p>: <strong>Yes</strong></p>
                            </td>
                            <td colspan="5">
                                <p><strong>18.</strong>&nbsp;&nbsp; Container has 200mm free air space at top of container</p>
                            </td>
                            <td colspan="1" width="60px" style="border-left:none;">
                                <p> &nbsp; &nbsp; : <strong>NA</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <p><strong>19.</strong>&nbsp;&nbsp; Container pressure test conducted</p>
                            </td>
                            <td colspan="1" width="60px" style="border-left:none;">
                                <p>:&nbsp; <strong>No</strong></p>
                            </td>
                            <td colspan="5">
                                <p><strong>20.</strong>&nbsp;&nbsp; Enclosure has been ventilated to below 5ppm v/v Methyl Bromide</p>
                            </td>
                            <td colspan="1" width="60px" style="border-left:none;">
                                <p> &nbsp; &nbsp; : <strong>Yes</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12" width="703">
                                <p><strong>WRAPPING &amp; TIMBER</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="11" width="641">
                                <p><strong>21.</strong>&nbsp;&nbsp; Has the commodity been fumigated prior to lacquering, varnishing,
                                    painting or
                                    wrapping</p>
                                <p><strong>22.</strong>&nbsp;&nbsp; Has plastic wrapping been used in the consignment?</p>
                                <ul>
                                    <li> If yes, has the Consignment been fumigated prior to wrapping?</li>
                                    <li> Or has the plastic wrapping been slashed, opened or perforated in accordance
                                        with the wrapping and perforation standard?</li>
                                </ul>
                                <p><strong>23.</strong>&nbsp; Is the timber in this consignment less than 200mm thick in one dimension
                                    and correctly
                                    every 200mm. in height?</p>
                            </td>
                            <td colspan="1" width="90px">
                                <p> &nbsp; </p>
                                <p><strong>No</strong></p>
                                <ul style="list-style: none; padding:0;">
                                    <li><strong> NA</strong></li>
                                    <li><strong> NA</strong></li>
                                </ul>
                                <p><strong>NA</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12" width="703">
                                <p><strong>24.&nbsp;&nbsp; Additional declaration:</strong></p>
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="117">
                                <img src="images/qr.png" style="width:100%;" />
                            </td>
                            <td colspan="11" width="586" style="border-top:none; vertical-align: bottom;">
                                <table style="width: 100%;" >
                                    <tbody>
                                        <tr>
                                            <td style="border: none; vertical-align: bottom;" >
                                                <p style="padding-left: 35px;"> <strong>DPPQS Accreditation No.: IN832011121</strong></p>
                                            </td>
                                            <td style="border: none;">
                                                <p style="text-align: center;">
                                                <strong> PAWAN KUMAR</strong>
                                                </p>
                                                <p style="padding-right: 35px; text-align: right;">
                                                     <span class="border-up">Name &amp; Signature of Accredited Fumigation Operator</span>
                                                </p>
                                            </td>
                                        
                                        </tr>
                                    </tbody>
                                </table>
                               
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12" width="703">
                                <p>*I declare that these details are true &amp; correct and the fumigation has been
                                    carried out in
                                    accordance with the <strong>NSPM-12</strong> standards.</p>
                                <p>*No financial liability attached to certifying company / its representative with
                                    respect of this
                                    certificate.&nbsp;&nbsp;&nbsp;&nbsp; *Consignment details are as declared by the
                                    shipper.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>