:root {
    --site-color: #13304e;
    --site-color-hover: #0e243a;
}

 .lazy-background{
     background-image: url(/images/Eclipse-1s-100px.svg); 
     background-repeat: no-repeat;
     background-position: center;  
   }
.btn-xs{
    font-size: 12px;
    padding: 2px 7px;
}
.hidden{
    visibility: hidden;
}
/**
*new header style init
*/
.font-black{
    font-family: Raleway Black;
}

.font-bold{
    font-family: Raleway Bold;
}
.font-light{
    font-family: Raleway Light;
}

.tooltip-bottom{
  position: relative;
}

.tooltip-bottom::after{
  position: absolute;
    content: '';
    bottom: -44px;
    left: 50%;
    border: 20px solid transparent;
    border-top: 23px solid #226194;
    transform: translate(-50%, 0);
}

.tooltip-bottom:hover::after{
    border-top: 23px solid #142d65;
}

.tooltip-bottom:hover{
    border-color: #142d65;
}

.font-15{
    font-size: 15px;
}

.font-12{
    font-size: 12px;
}

.dark-blue-text{color: #05253d;}
.btn-dark-blue{background:#05253d; color: #fff;}
.site-text-dark-blue{color: #15304e;}


.site-top {
    background: #226194;
}

.round-img{border-radius: 25px;}

.site-top-table{
    display: table;
    width: 100%; overflow: hidden;
    margin: 0;
}

.comfort-level{
    padding: 16px;
    min-width: 247px;
}

.site-top-table .site-top-left,  .site-top-table  .site-top-right{
    display: table-cell;
    text-align: center;
    width: 45%;
    position: relative;

}
.site-top-table  .site-top-center{
    display: table-cell;
    text-align: center;
    width: 10%;
}





@media(min-width: 768px){
    .font-big{
    font-size: 18px;
}
    .site-top-table::before{
        position: absolute;
        content: '';
        width: 45px;
        height: 45px;
        top: -15px;
        left:0;
        background: yellow;
        border-radius: 50%;
         overflow: hidden;
    }

    .site-top-table::after{
        position: absolute;
        content: '';
        width: 50px;
        height: 50px;
        right: 40px;
        top: -25px;
        background: yellow;
        border-radius: 50%;
        overflow: hidden;
    }

    .site-top-table .site-top-left::before{
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        left: 109px;
        top: 5px;
        background: yellow;
        border-radius: 50%;

    }

    .site-top-table .site-top-left::after{
       position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        right: 50px;
        top: 8px;
        background: yellow;
        border-radius: 50%;
    }

    .site-top-table .site-top-right::after{
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        right: 130px;
        top: 21px;
        background: yellow;
        border-radius: 50%;
    }

    .vh-100{
        min-height: 100vh;
    }
}
.site-top-bottom-table{
    padding: 5px;
    margin: 0;
    display: table;
    width: 100%;
}

.site-top-left,.site-top-right,.site-top-right{
    display: table-cell;
    width: 33.33%;
}

.site-menu a{
    font-size:18px !important;
     color: rgb(82, 82, 82) !important;
    font-weight: 400 !important;
    font-family: Calibre Light !important;
    letter-spacing: 0.5px !important;
}

.middle-header {
     position: relative;
    z-index: 1;
}

.middle-header a{
    font-weight: 400;
    font-family: Calibre Regular !important;

    color: #848181 !important;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.site-top-icons a{
        font-size:18px !important;
     color: rgb(82, 82, 82) !important;
    font-weight: 400 !important;
    font-family: Calibre Light !important;
     letter-spacing: 0.5px !important;
}

ul{padding-inline-start:0px !important;}



.site-navbar .site-navigation .site-menu .has-children>a:before {
    display: none;
}

.tooltip-top{position: relative;}


.tooltip-top::before{
    position: absolute;
    content: '';
    top: -43px;
    left: 50%;
    border: 20px solid transparent;
    border-bottom: 23px solid #15304e;
    transform: translate(-50%, 0);
}



/*
product page css

*/
@media (min-width: 768px){

.tooltip-top{ min-height: 319px;}
.card-view{
    box-shadow: 3px 3px 6px 0px #3c3b3b38;
}
            .site-section {
                 padding:  0 !important; 
            }


            .product-preview-container{
                position: relative;

            }



            .product-preview-btn-container{
                position: absolute;
                top: 38%;
                right: 0px;
                height: 45px;
                width: 180px;
                z-index: 1;
                transform: rotate(-90deg);

            }

            .product-preview-line{
                height: 3px;
                background: #ffffffab;
                position: absolute;
                left: 40px;
                border-radius: 5px;
                width: calc(100% - 80px);
                top: 35%;
            }
            .product-preview-line-pos{
                height: 3px;
                background: #555;
                position: absolute;
                left: 0px;
                border-radius: 5px;
                
                top: 0%;
            }

            .product-preview-btn{
                height: 35px;
                width: 35px;
                border-radius: 50%;
                line-height: 10px;
                background:#fff;
            }

            .product-preview-btn-left{
                left:0;
                position: absolute;
            }
            .product-preview-btn-right{
                right:0;
                position: absolute;
            }

    .btn-md-lg{
       font-size: 17px;
        padding: 12px 30px 12px 30px;
    }


   .site-main-logo{
    width: 60%;
   }

   .site-top-icons li{
    /*padding-left: 25px !important;*/
}
.lg-hide{
    visibility: hidden;
}


.testimonial-box{
    min-height: 400px;
}

}

/* product preview  mobile*/

@media (max-width: 768px){

.xs-hide{
    display: none;
}
.xs-pl-10{
    padding-left: 10px !important;
}

    h2{
      font-size: 18px !important; 
   }
   h1{
      font-size: 20px !important; 
   }
   h3{
      font-size: 17px !important; 
   }
   h4{
     font-size: 16px !important; 
   }
   h5{
     font-size: 15px !important; 
   }
   h6{
     font-size: 14px !important; 
   }
   p{
    font-size: 13px !important; 
   }

    ul li{
    font-size: 13px !important; 
   }

.tooltip-top{ margin-bottom: 10px;}
.xs-mt-1{
    margin-top: 10px;
}
   .dropdown{
    display: none;
   }

   .site-main-logo{
    width: 100%;
   }
    .btn-md-lg{
       font-size: 12px;
    padding: 10px 15px 10px 15px;
    }
    .m-100{
        max-width: 100% !important;
    }
     .vh-100{
        min-height: 40vh;
    }

    .order-xs-1{
        order:1;
    }
    .order-xs-2{
        order:2;
    }
    .m-space{
        padding-right: 7px;
        padding-left: 7px;
    }

     .product-preview-container{
                position: relative;

            }




            .product-preview-btn-container{
                position: absolute;
                bottom:  0px;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 45px;
                width: 180px;
                z-index: 1;
                

            }

            .product-preview-line{
                height: 3px;
                background: #ffffffab;
                position: absolute;
                left: 40px;
                border-radius: 5px;
                width: calc(100% - 80px);
                top: 35%;
            }
            .product-preview-line-pos{
                height: 3px;
                background: #555;
                position: absolute;
                left: 0px;
                border-radius: 5px;
                width: 15%;
                top: 0%;
            }

            .product-preview-btn{
                height: 35px;
                width: 35px;
                border-radius: 50%;
                line-height: 10px;
                background:#fff;
            }

            .product-preview-btn-left{
                left:0;
                position: absolute;
            }
            .product-preview-btn-right{
                right:0;
                position: absolute;
            }

            .mobile-dropdown{
                padding-left: 10px;
                padding-right: 10px;  
            }

            .mobile-dropdown:active{
                color: #999;
                
            }


             .icon-section td:first-of-type{
                    width:65px;
            }
    }












.thickness{
    background:#13304e;
    color: #fff;
    border-bottom-left-radius:50%; 
    border:none;
    padding: 11px 17px;
    outline: none;
}


.btn-round{
    border-radius: 25px;
}



@media only screen and (min-width:768px) {
    .middle-header a{ padding-left: 10px; padding-right: 10px; }

    .cart-container {
        position: fixed;
        
        min-height: 250px;
        width: 450px;
        border: 1px solid #80808021;
        background: #fff;
        overflow-y: auto;
        padding: 15px;
        box-shadow: 4px 4px 7px 0 #d3d3d3;
        opacity: 0;
        z-index:-1;
        top: 0px;
        visibility: hidden;
        right: -450px;
        height: 100%;
        transition: all 0.5s;

    }
    .cart-container.active{
        right: 0px;
        z-index: 9999;
        opacity: 1 !important;
        visibility: visible !important;
    }
    .cart-container h3 {
        margin-block-start: 0;
        margin-block-end: 1em
    }
    .variation table {
        width: 75%
    }
    .cart-toast-message {
        position: fixed;
        top: 50%;
        left: 50%;
        max-width: 30%;
        transform: translate(-50%, -50%);
        color: #fff;
        background: #42abff;
        padding: 13px;
        z-index: 9999;
        box-shadow: 0 1px 10px 0 #000000d9;
        display: none;
        opacity: 1;
        letter-spacing: 1px;
        font-size: 17px
    }
    .text-lg {
        font-size: 5em
    }

    .img{
        width: 100%;
    }
}



/* mobile css */


@media only screen and (max-width:768px) {
    .m-none{
      display: none;
   }
   .col-md-3,.col-md-4,.col-md-6{
      margin-top:10px;
   }
   .middle-header .col-md-6{
      width: 50%;
   }
   .middle-header a{ padding-left: 3px; padding-right: 3px; }

    .cart-container {
        position: fixed;
        z-index: 999;
        min-height: 250px;
        max-height: 500px;
        border: 1px solid #80808021;
        background: #fff;
        right: 10px;
        left: 10px;
        overflow-y: auto;
        padding: 15px;
        box-shadow: 4px 4px 7px 0 #d3d3d3;
        opacity: 0;
        top: 42px
    }
    .cart-container h3 {
        margin-block-start: 0;
        margin-block-end: 1em
    }
    .cart-toast-message {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 60%;
        transform: translate(-50%, -50%);
        color: #fff;
        background: #42abff;
        padding: 15px;
        z-index: 9999;
        box-shadow: 0 1px 10px 0 #000000d9;
        display: none;
        opacity: 1;
        letter-spacing: 1px;
        font-size: 16px
    }
    .d-xs-block {
        display: block!important
    }
    .mob-call {
        padding-right: 12px
    }
    .mob-login {
        padding-left: 12px
    }
    .text-lg {
        font-size: 2em
    }
    .xs-mt-15 {
        margin-top: 15px
    }
    .xs-mt-20 {
        margin-top: 20px
    }
    .xs-mt-25 {
        margin-top: 25px
    }

    .img{
        width: 95%;
    }


    .bg-hide-m{
        background:none !important;
    }

    /*footer{
        padding-left: 10px !important; 
    }*/

    section{
        padding-top: 15px ;
    }

}







.mo-coupon-display {
  
    background: #226194;
    color: #fff;
    text-align: center;
    position: relative;
    top: 0;
    z-index: 1;
    opacity: 1;
    width: 100%;
    visibility: visible;
    transition: all .5s
}

.mo-coupon-display.hide {
  
   display: none;
}



.mo-coupon-display .icon-remove {
    float: right;
    padding-right: 25px;
    font-size: 24px;
    cursor: pointer
}

.mo-coupon-display .icon-remove:active {
    color: #ddd
}

.btn-xs-r {
    padding: 4px;
    height: 17px;
    margin: 0;
    margin-top: -4px;
    line-height: 8px
}

.img-responsive {
    width: 100%
}

.color-white {
    color: #fff!important
}

.hide {
    display: none
}

.custom-alert {
    position: fixed;
    top: 0;
    left: 0;
    background: #ff7b00;
    color: #fff;
    text-align: center;
    width: 0;
    animation: width 9s;
    display: none
}

@keyframes width {
    from {
        width: 0
    }
    to {
        width: 50%
    }
}

.close:active {
    color: #686d6a
}

.site-navigation a {
    color: var(--site-color)
}

.site-navigation a:hover {
    color: var(--site-color-hover)
}

.blue {
    color: var(--site-color)!important
}

.site-navbar {
    transition: all .5s;
    opacity: 1
}

.site-navbar.fixed {
    position: fixed;
    top: -60px;
    left: 0;
    width: 100%;
    opacity: 1;
    z-index: 9
}

.site-navbar.fixed.active {
    top: 0
}

.remove-item {
    outline: 0!important
}

.bg-blue {
    padding: 50px;
    text-align: center;
    color: #fff;
    background: var(--site-color);
    font-size: 2.2em;
    font-weight: 700;
    font-family: Philosopher, Sans-serif
}

.third-section {
    padding-top: 50px;
    padding-bottom: 50px
}

.third-section span:first-of-type {
    color: #000;
    font-size: 18px;
    font-weight: 600
}

.btn-radius {
    border-radius: 30px;
    background: #fff;
    box-shadow: 0 1px 8px 0 #c5c5c5;
    padding: 15px 30px 15px 30px;
    min-width: 300px;
    color: #222
}

.btn-radius-blue {
    border-radius: 30px;
    background: #226194;
    padding: 15px 30px 15px 30px;
    min-width: 250px;
    color: #fff;
    border: 3px solid;
    border-color: #1896fe;
    box-shadow: 5px -5px 60px 0 rgba(0, 0, 0, .1)
}



.btn-radius-blue:hover {
    background: #1896fe;
    color: #fff
}

.btn-radius:hover {
    background: 0 0;
    color: #222
}

.home-5 {
    padding-top: 80px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-size: cover
}

.home-6 {
    padding-top: 120px;
    padding-bottom: 120px
}

.home-7 {
    padding-top: 30px;
    padding-bottom: 30px
}

.footer-start {
    padding: 2rem 0 1rem 0;
}

.footer-end {
    background: #15304e;
    padding: 1rem 0 1rem 0;
    border-top: 1px solid #6b6969;
    color: #acaaaa;
    font-size: 14px
}

.icon-list-text {
    color: #ffffff61
}

.icon-list-text:hover {
    color: #fff
}

.btn-outline-primary {
    color: var(--site-color)!important
}

.btn-outline-primary:hover {
    color: #fff!important
}

.fade-scale {
    opacity: 0;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease
}

.fade-scale.show {
    opacity: 1
}

.fade-scale .modal-dialog {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.fade-scale.show .modal-dialog {
    opacity: 1;
    transform: scale(1)
}

.modal-title {
    display: table;
    width: 100%
}

.tab-btn {
    border-radius: 0!important;
    display: table-cell;
    width: 50%;
    padding: 8px 0 8px 0;
    color: #226194!important
}

.tab-btn.active {
    background: #226194;
    color: #fff!important
}

.login-tab,
.signup-tab {
    display: none;
    transform: scale(0);
    transition: all .5s
}

.login-tab.active,
.signup-tab.active {
    display: block;
    transform: scale(1)
}

.input-group {
    padding-top: 20px
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-right: transparent;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px
}

.input-group-addon,
.input-group-btn {
    padding: 12px
}

.social-btn {
    padding: 12px 10px 12px 0
}

.fb-color {
    background: #3e5d9d;
    color: #fff;
    border: none
}

.fb-color:hover {
    color: #fff
}

span.fb-color {
    border-right: 1px solid #d3d3d3;
    padding: 12px 15px 12px 15px
}

.fb-btn {
    min-width: 50%
}

.google-color {
    background: #ea4335;
    color: #fff;
    border: none
}

.google-color:hover {
    color: #fff
}

span.google-color {
    border-right: 1px solid #d3d3d3
}

.google-btn {
    min-width: 50%
}

.forgot-tab-btn {
    color: #1bb0ce!important;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600
}

.forgot-tab-btn:hover {
    color: #226194!important
}

.btn-outline-variation {
    background-color: transparent;
    background-image: none;
    border-color: #a7acaf;
    width: 100%;
    border-radius: 0;
    padding: 15px 5px;
    font-size: 15px;
    font-weight: 600;
    color: #226194;
}

.variation table td,
.variation table th {
    border: none!important;
    padding: 0px !important;
}

.btn-outline-variation.active {
    background-color: #226194;
    color: #fff !important;
}

.variation table,
.variation table tr {
    border: none!important;
    margin-bottom: 0!important
}

.variation table label {
    width: 100%
}

input[readonly] {
    background-color: #fff!important
}

:root {
    --background: rgb(230, 20, 83);
    --color: #fff
}



.cart-close {
    cursor: pointer;
    float: right;
    font-size: 2rem
}

.cart-close:hover,
.remove-item:hover {
    color: red
}

.cart-item-tbl {
    width: 100%;
    border: none!important
}

.cart-item-tbl tr td {
    padding: 3px!important;
    border: none!important
}

.cart-header,
line {
    border-bottom: 1px solid #aaa8a8!important
}

.cart-header {
    margin-bottom: 5px
}

.cart-img {
    width: 80px;
    height: 55px;
    border-radius: 5px
}

.remove-item {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    line-height: 0px;
    border: none;
    border-radius: 35%;
    color: #607D8B;
    font-size: 25px;
    outline: 0;
    background: none;
    cursor: pointer;
}

.cart-total {
    text-align: right;
    font-weight: 700;
    padding: 5px 20px 5px 20px;
    color: #226194;
    font-size: 1.5em
}

.cart-footer{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    background:#f6f6f6;
    border-top:2px solid gray;
}

.cart-footer .btn {
    min-width: 49%;
    text-transform: uppercase;
    border-radius: 0;
    border: none;
}
.testimonial-profile{
    width: 95px;
    height: 95px;
    border-radius: 50%;
}

.rating .icon-star{
    color:#f8da48;
}
.rating .icon-star-o{
    color:gray;
}

.testimonial-box{
    border:1px solid lightgray;

   
}

.sb-cart-cdn-form input {
    display: none!important
}

.sb-cart-cdn-form {
    display: inline-block!important
}

.cart-table-container .cart-table-th {
    opacity: .5;
    transition: all .9s
}

.cart-table-container.active .cart-table-th {
    opacity: 1
}

.cart-loader {
    position: fixed;
    background: #ffffffeb;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1
}

.cart-loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.user-dash-col-1 {
    background: #f8f9fa;
    z-index: 1;
    position: relative
}

.user-dash-nav ul {
    list-style: none;
    padding-inline-start: 0
}

.user-dash-nav ul li a {
    text-align: left;
    border-radius: 0;
    margin-bottom: 2px;
    padding-left: 35px
}

.user-dash-nav ul li a.active {
    background: #17a2b8;
    color: #fff!important
}

.user-dash-nav ul li a.active:hover {
    color: #e0dede!important
}

@media(min-width:768px){
.user-dash-nav ul li a.active::after {
    position: absolute;
    content: "";
    right: -20px;
    border-top: 15px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 19px solid #17a2b8;
    z-index: 1
}
}
.user-dash-section {
    background: #fff;
    padding: 0 30px 30px 30px
}

.mt-10 {
    margin-top: 10px
}

.mt-15 {
    margin-top: 15px
}

.mt-20 {
    margin-top: 20px
}

.user-dash-section .site-section {
    display: none
}

.user-dash-section .site-section.active {
    display: block
}

.dashboard-header {
    padding: 15px
}

fieldset.scheduler-border {
    border: solid 1px #ddd!important;
    padding: 0 10px 10px 10px;
    border-bottom: none
}

legend.scheduler-border {
    width: auto!important;
    border: none;
    font-size: 16px;
    padding: 5px
}

.counter {
    background-color: #fff;
    padding: 20px 0;
    border-radius: 5px
}

.count-title {
    font-size: 40px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center
}

.count-text {
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center
}

.font-100 {
    font-weight: 100
}

.font-500 {
    font-weight: 500
}

.font-600 {
    font-weight: 600
}

.size-17 {
    font-size: 17px
}

.size-18 {
    font-size: 18px
}

.size-20 {
    font-size: 20px
}

@media(min-width: 768px){

.mt-6 {
    margin-top: 60px
}

.mt-7 {
    margin-top: 70px
}

.mt-8 {
    margin-top: 80px
}

.mt-9 {
    margin-top: 90px
}

.mt-10 {
    margin-top: 100px
}

.mb-6 {
    margin-bottom: 60px
}

.mb-7 {
    margin-bottom: 70px
}

.mb-8 {
    margin-bottom: 80px
}

.mb-9 {
    margin-bottom: 90px
}

.mb-10 {
    margin-bottom: 100px
}

.pt-6 {
    padding-top: 60px
}

.pt-7 {
    padding-top: 70px
}

.pt-8 {
    padding-top: 80px
}

.pt-9 {
    padding-top: 90px
}

.pt-10 {
    padding-top: 100px
}

.pt-11 {
    padding-top: 110px
}

.pt-12 {
    padding-top: 120px
}

.pt-13 {
    padding-top: 130px
}

.pt-14 {
    padding-top: 140px
}

.pt-15 {
    padding-top: 150px
}

.pt-16 {
    padding-top: 160px
}

.pt-17 {
    padding-top: 170px
}

.pt-18 {
    padding-top: 180px
}

.pt-19 {
    padding-top: 190px
}

.pt-20 {
    padding-top: 200px
}

.pb-6 {
    padding-bottom: 60px
}

.pb-7 {
    padding-bottom: 70px
}

.pb-8 {
    padding-bottom: 80px
}

.pb-9 {
    padding-bottom: 90px
}

.pb-10 {
    padding-bottom: 100px
}

.pb-11 {
    padding-bottom: 110px
}

.pb-12 {
    padding-bottom: 120px
}

.pb-13 {
    padding-bottom: 130px
}

.pb-14 {
    padding-bottom: 140px
}

.pb-15 {
    padding-bottom: 150px
}

.pb-16 {
    padding-bottom: 160px
}

.pb-17 {
    padding-bottom: 170px
}

.pb-18 {
    padding-bottom: 180px
}

.pb-19 {
    padding-bottom: 190px
}

.pb-20 {
    padding-bottom: 200px
}
}


.no-radius {
    border-radius: 0!important
}

.product-bg {
    background-image: url(../images/product/Small-Dots-4dpi.png);
    background-position: bottom right;
    background-size: cover;
    background-attachment: fixed;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 100px 0 100px 0
}

.sky-heading {
    color: #78b9eb;
    font-family: Rubik, Sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600
}

.text-sky {
    color: #78b9eb
}

.text-blue {
    color: #1a6fb0
}

.blue-heading {
    color: #216093;
    font-family: Rubik, Sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 450px;
    perspective: 1000px
}

.bg-overlay {
    background: #1a6fb0;
    position: relative;
    right: 0;
    left: 100px;
    min-height: 700px
}

.right-img {
    position: absolute;
    top: 15%;
    left: -100px;
    background: url(../images/product/rune-enstad-1090367-unsplas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    padding: 100px 30px
}

.right-img h1 {
    font-size: 4em
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform .6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2)
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg)
}

.flip-card-back,
.flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px 40px 30px 40px;
    backface-visibility: hidden
}

.flip-card-front {
    background-color: #226194;
    color: #fff;
    border-radius: 10px
}

.flip-card-front.center {
    background-color: #78b9eb;
    color: #fff;
    border-radius: 10px
}

.flip-card-back {
    background-color: #230b5b;
    color: #fff;
    border-radius: 10px;
    transform: rotateY(180deg);
    padding-top: 30px
}

.large-text {
    box-sizing: inherit;
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-family: freight-sans-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 93px;
    min-height: 1rem;
    letter-spacing: 16.65px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    white-space: normal
}

video[poster] {
    height: 100%;
    width: 100%
}

ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type: none
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3.5em
}

ol.progtrckr[data-progtrckr-steps="2"] li {
    width: 49%
}

ol.progtrckr[data-progtrckr-steps="3"] li {
    width: 33%
}

ol.progtrckr[data-progtrckr-steps="4"] li {
    width: 24%
}

ol.progtrckr[data-progtrckr-steps="5"] li {
    width: 19%
}

ol.progtrckr[data-progtrckr-steps="6"] li {
    width: 16%
}

ol.progtrckr[data-progtrckr-steps="7"] li {
    width: 14%
}

ol.progtrckr[data-progtrckr-steps="8"] li {
    width: 12%
}

ol.progtrckr[data-progtrckr-steps="9"] li {
    width: 11%
}

ol.progtrckr li.progtrckr-done {
    color: #000;
    border-bottom: 4px solid #32cd7e
}

.stop{border-color: red !important}
ol.progtrckr li.progtrckr-done.stop:before {
          background-color: red!important;
}

ol.progtrckr li.progtrckr-todo {
    color: silver;
    border-bottom: 4px solid silver
}

ol.progtrckr li:after {
    content: "\00a0\00a0"
}

ol.progtrckr li:before {
    position: relative;
    top: 45px;
    float: left;
    left: 50%;
    line-height: 1em
}

ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: #fff;
    background-color: #32cd7e;
    height: 1.5em;
    width: 1.5em;
    line-height: 1.5em;
    border: none;
    border-radius: 2.2em
}

ol.progtrckr li.progtrckr-todo:before {
    content: " ";
    color: silver;
    background-color: #fff;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    border: 2px solid silver;
    top: 45px;
    line-height: 1.5em
}

.custom-size-dialog {
    min-width: 60%;
}

.no-radius {
    border-radius: 0;
}

.text-md {
    font-size: 30px;
}

.forgot-tab {
    display: none;
}

.forgot-tab.active {
    display: block;
}

.circle {
    border: 1px solid;
    border-radius: 50%;
}

.carousel-indicators li:hover {
    background: #000;
}

.text-m {
    font-size: 4em;
}

.site-text {
    color: #1a6fb0;
}

.site-blue {
    color: #52a8ea;
}

.site-bg-blue {
    background: #52a8ea;
    color: #fff;
}

.border-round {
    border-radius: 25px;
}

.text-i {
    font-style: italic;
}

.text-upper {
    text-transform: uppercase;
}

@media only screen and (min-width:768px) {
    .shop-menu {
        width: 100vw;
        margin-left: -50vw !important;
        text-align: center;
        padding: 15px 0px 15px 0 !important;
        min-height: 70vh;
    }
    .shop-menu li {
        width: 180px;
        min-width: 120px !important;
        display: inline-block;
    }
    .shop-menu li:first-of-type {
        margin-left: 6px !important;
    }
    .shop-menu li a {
        font-size: 14px !important;
        background: #fbfbfb;
    }
    .shop-menu li img {
        height: 60px;
        width: 100%
    }
    .login-pupop{
        max-width: 60% !important;
    }
}

@media only screen and (max-width:768px) {
    .site-mobile-menu-body {
        width: 100%;
        padding: 15px !important;
    }
    .site-mobile-menu-body li {
        width: 100%;
    }
    .shop-menu li a {
        font-size: 14px !important;
    }
    .site-mobile-menu-body li img {
        height: 70px;
        width: 100%;
    }

    .login-pupop{
        max-width: 100% !important;
    }
}

.space-4 {
    letter-spacing: 1.3px;
}

.space-3 {
    letter-spacing: 1.3px;
}

.space-2 {
    letter-spacing: 1.2px;
}

.space-1 {
    letter-spacing: 1.1px;
}

.dropdown{
    position: fixed;
    width: 100%;
    
    background: #fff;
    left:0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
    border-top: 2px solid #226094;
    box-shadow: 3px 10px 12px 0px #333333;

}

.dropdown li{
    line-height: 35px;
    color: #226094;
}

.dropdown.active{
    min-height: 44%;
    visibility: visible;
    opacity: 1; 
}



@media(max-width: 768px){
     .xs-p-1{
        padding: 10px !important;
    }
    .xs-p-2{
        padding: 20px !important;
    }
   

    .xs-pl-1{
        padding-left: 10px !important;
    }
    .xs-pr-1{
        padding-right: 10px !important;
    }

    .xs-pl-2{
        padding-left: 20px !important;
    }
    .xs-pr-2{
        padding-right: 20px !important;
    }

    .xs-pt-5{
        padding-top: 5px !important;
    }

    .xs-text-center{
        text-align: center;
    }

    .middle-header{
       padding-top: 0!important;
    }
    .middle-header .col-md-6 {
        margin-top: 0px !important;
    }
}


 @media(min-width: 768px){
     .mo-coupon-display .icon-close{
          position: absolute; top:10px; right:15px; z-index: 99;
     }
}

@media(max-width: 768px){
     .site-mobile-menu-body li{
        line-height: 40px !important;
     }

     .mo-coupon-display .icon-close{
         position: absolute;
        top: 10px;
        right: 8px;
        z-index: 99;
     }
}

.table-div{
    display: table;
}
.table-cell:first-of-type{
    width: 50px;
}
.table-cell{
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
}


/* new style for account page(popup)*/

@media(min-width: 768px){
 .account-container{
   position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffffffe8;
  }


  .account-pupop{
    position: relative;
    top:10vh;
    background: #fff;
    width: 100%;
  }
}

@media(max-width: 768px){
 .account-container{
   position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #ffffffe8;
  }


  .account-pupop{
    position: relative;
    top:1vh;
    background: #fff;
    width: 100%;
  }
}